@using GridBlazor.Columns
@using GridBlazor.Resources
@using GridShared
@using GridShared.Columns
@using GridShared.Utility

@typeparam T

<div class="@GridComponent.GridCrudHeaderCssClass">@(string.IsNullOrWhiteSpace(GridComponent.Grid.UpdateFormLabel) ? Strings.Edit : GridComponent.Grid.UpdateFormLabel)</div>

<EditForm Model="@Item" OnValidSubmit="@UpdateItem" @ref="Form">
    @if (GridComponent.Grid.DataAnnotationsValidation)
    {
        <DataAnnotationsValidator />
        <ValidationSummary />
    }
    <p id="error" class="@GridComponent.GridErrorCssClass">@Error</p>
    <div>
        @foreach (var column in GridComponent.Grid.Columns)
        {
            if (((ICGridColumn)column).SubGrids == null && column.ComponentType == null
                && column.CreateComponentType == null && column.ReadComponentType == null
                && column.UpdateComponentType == null && column.DeleteComponentType == null)
            {
                if (column.FieldName == null)
                {
                    continue;
                }

                (Type type, object value) = ((IGridColumn<T>)column).GetTypeAndValue(Item);
                if (type == null && ((IGridColumn<T>)column).InputType != InputType.File)
                {
                    continue;
                }
                <div class="@GridComponent.Grid.HtmlClass.FormGroupRow" style="@(((IGridColumn<T>)column).CrudHidden(Item).HasFlag(CrudHidden.UPDATE) && !((IGridColumn<T>)column).ReadOnlyOnUpdate(Item) ? "display:none;" : "")">
                    @if (!string.IsNullOrWhiteSpace(column.TooltipValue))
                    {
                        <div class="@(GridComponent.Grid.HtmlClass.FormLabel + " " + GridComponent.Grid.HtmlClass.ColMd + column.CrudLabelWidth.ToString())">
                            <FormTooltipComponent T="@T" Column="@column"></FormTooltipComponent>
                        </div>
                    }
                    else
                    {
                        <label for="@column.FieldName" class="@(GridComponent.Grid.HtmlClass.FormLabel + " " + GridComponent.Grid.HtmlClass.ColMd + column.CrudLabelWidth.ToString())">@column.Title</label>
                    }
                    <div class="@(type == typeof(bool) && column.ToggleSwitch ? GridComponent.Grid.HtmlClass.FormDivToggleSwitch : GridComponent.Grid.HtmlClass.FormDivInput) @(type == typeof(bool) && !column.ToggleSwitch ? GridComponent.Grid.HtmlClass.ColMd + "1" : GridComponent.Grid.HtmlClass.ColMd + column.CrudWidth.ToString())">
                        @if (column.IsPrimaryKey)
                        {
                            <input id="@column.FieldName" name="@column.FieldName" class="@GridComponent.Grid.HtmlClass.FormInput" readonly disabled value="@column.GetFormatedValue(value)" />
                        }
                        else if (((IGridColumn<T>)column).IsSelectField.IsSelectKey)
                        {
                            if (((IGridColumn<T>)column).ReadOnlyOnUpdate(Item))
                            {
                                string text = ((IGridColumn<T>)column).GetFormatedValue(((IGridColumn<T>)column).IsSelectField.Expression, Item);
                                <input id="@column.FieldName" name="@column.FieldName" class="@GridComponent.Grid.HtmlClass.FormInput" readonly disabled value="@text" />
                            }
                            else
                            {
                                var selectedValue = column.GetFormatedValue(value);
                                <div class="@GridComponent.Grid.HtmlClass.FormDivSelect">
                                    <select autocomplete="@column.CustomAutoComplete.Invoke()" 
                                            id="@column.FieldName" 
                                            name="@column.FieldName"
                                            class="@GridComponent.Grid.HtmlClass.FormSelect @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" 
                                            value="@selectedValue" 
                                            @onchange="(e) => ChangeValue(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                        {
                                            if (selectItem.Value == selectedValue)
                                            {
                                                <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@selectItem.Value">@selectItem.Title</option>
                                            }
                                        }
                                    </select>
                                </div>
                                 <span class="field-validation-error">
                                    <span>@ColumnErrors.Get(column.FieldName)</span>
                                </span>
                            }
                        }
                        else if (((IGridColumn<T>)column).IsSelectColumn.IsSelectKey)
                        {
                            if (((IGridColumn<T>)column).ReadOnlyOnUpdate(Item))
                            {
                                string text = ((IGridColumn<T>)column).GetFormatedValue(((IGridColumn<T>)column).IsSelectColumn.Expression, Item);
                                <input id="@column.FieldName" name="@column.FieldName" class="@GridComponent.Grid.HtmlClass.FormInput" readonly disabled value="@text" />
                            }
                            else
                            {
                                var selectedValue = column.GetFormatedValue(value);
                                <div class="@GridComponent.Grid.HtmlClass.FormDivSelect">
                                    <select autocomplete="@column.CustomAutoComplete.Invoke()" 
                                            id="@column.FieldName" 
                                            name="@column.FieldName"
                                            class="@GridComponent.Grid.HtmlClass.FormSelect @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" 
                                            value="@selectedValue" 
                                            @onchange="(e) => ChangeValue(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @{
                                            var selectItems = SelectItems.Get(column.Name);
                                            if (selectItems != null && selectItems.Count() > 0)
                                            {
                                                foreach (var selectItem in selectItems)
                                                {
                                                    if (selectItem.Value == selectedValue)
                                                    {
                                                        <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@selectItem.Value">@selectItem.Title</option>
                                                    }
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <span class="field-validation-error">
                                    <span>@ColumnErrors.Get(column.FieldName)</span>
                                </span>
                            }
                        }
                        else
                        {
                            if (((IGridColumn<T>)column).ReadOnlyOnUpdate(Item))
                            {
                                if (type == typeof(bool))
                                {
                                    if (value != null && (bool)value == true)
                                    {
                                        if (column.ToggleSwitch)
                                        {
                                            <label class="@GridComponent.Grid.HtmlClass.FormLabel">@column.FalseLabel</label>
                                            <label class="grid-switch">
                                                <input id="@column.FieldName" name="@column.FieldName" type="checkbox" class="@GridComponent.Grid.HtmlClass.FormInput" readonly disabled checked="checked" value="true" />
                                                <span class="@GridComponent.Grid.HtmlClass.FormSpanToggleSwitch"></span>
                                            </label>
                                            <label class="@GridComponent.Grid.HtmlClass.FormLabel">@column.TrueLabel</label>
                                        }
                                        else
                                        {
                                            <label>
                                                <input id="@column.FieldName" name="@column.FieldName" type="checkbox" class="@GridComponent.Grid.HtmlClass.FormCheck" readonly disabled checked="checked" value="true" />
                                                <span></span>
                                            </label>
                                        }
                                    }
                                    else
                                    {
                                        if (column.ToggleSwitch)
                                        {
                                            <label class="@GridComponent.Grid.HtmlClass.FormLabel">@column.FalseLabel</label>
                                            <label class="grid-switch">
                                                <input id="@column.FieldName" name="@column.FieldName" type="checkbox" class="@GridComponent.Grid.HtmlClass.FormInput" readonly disabled value="false" />
                                                <span class="@GridComponent.Grid.HtmlClass.FormSpanToggleSwitch"></span>
                                            </label>
                                            <label class="@GridComponent.Grid.HtmlClass.FormLabel">@column.TrueLabel</label>
                                        }
                                        else
                                        {
                                            <label>
                                                <input id="@column.FieldName" name="@column.FieldName" type="checkbox" class="@GridComponent.Grid.HtmlClass.FormCheck" readonly disabled value="false" />
                                                <span></span>
                                            </label>
                                        }
                                    }
                                }
                                else if (type == typeof(string) && ((IGridColumn<T>)column).InputType == InputType.TextArea)
                                {
                                    <textarea id="@column.FieldName" name="@column.FieldName" class="@GridComponent.Grid.HtmlClass.FormTextArea" rows="@column.TextAreaRows" readonly disabled value="@column.GetFormatedValue(value)" />
                                }
                                else
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" class="@GridComponent.Grid.HtmlClass.FormInput" readonly disabled value="@column.GetFormatedValue(value)" />
                                }
                            }
                            else
                            {
                                if (type == typeof(string) && ((IGridColumn<T>)column).InputType == InputType.TextArea)
                                {
                                    <textarea autocomplete="@column.CustomAutoComplete.Invoke()" id="@column.FieldName" name="@column.FieldName" class="@GridComponent.Grid.HtmlClass.FormTextArea @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" rows="@column.TextAreaRows" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeValue(e, column)" />
                                }
                                else if (((IGridColumn<T>)column).InputType == InputType.File)
                                {
                                    if (Files.ContainsKey(column.FieldName))
                                    {
                                        value = string.Join(";", Files[column.FieldName].Select(r => r.Name));
                                    }
                                    else
                                    {
                                        value = "";
                                    }
                                    <div class="@GridComponent.Grid.HtmlClass.InputGroup">
                                        <input type="text" autocomplete="@column.CustomAutoComplete.Invoke()" id="@column.FieldName" name="@column.FieldName" class="grid-input-file @GridComponent.Grid.HtmlClass.FormInput @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" value="@column.GetFormatedValue(value)">
                                        <span class="@GridComponent.Grid.HtmlClass.InputGroupRightButton grid-span-input-file">
                                            <button type="button" class="@GridComponent.Grid.HtmlClass.Button grid-button-input-file" @onclick="() => ButtonFileClicked(column.FieldName)">@Strings.Files</button>
                                        </span>
                                        @_renderFragments.Get(column.Name)
                                    </div>
                                }
                                else if (type == typeof(DateTime) || type == typeof(System.DateTimeOffset))
                                {
                                    string typeAttr = ((IGridColumn<T>)column).InputType == InputType.None ? "date" : ((IGridColumn<T>)column).InputType.ToTypeAttr();
                                    if (typeAttr == "week")
                                    {
                                        if (GridComponent.IsWeekSupported)
                                        {
                                            <input autocomplete="@column.CustomAutoComplete.Invoke()" id="@column.FieldName" name="@column.FieldName" type="@typeAttr" placeholder="yyyy-Www" class="@GridComponent.Grid.HtmlClass.FormInput @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" value="@(((ICGridColumn)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeValue(e, column, typeAttr)" />
                                        }
                                        else
                                        {
                                            <input autocomplete="@column.CustomAutoComplete.Invoke()" id="@column.FieldName" name="@column.FieldName" type="text" placeholder="yyyy-Www" class="@GridComponent.Grid.HtmlClass.FormInput @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" value="@(((ICGridColumn)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeValue(e, column, typeAttr)" />
                                        }
                                    }
                                    else if (typeAttr == "month")
                                    {
                                        if (GridComponent.IsMonthSupported)
                                        {
                                            <input autocomplete="@column.CustomAutoComplete.Invoke()" id="@column.FieldName" name="@column.FieldName" type="@typeAttr" placeholder="yyyy-mm" class="@GridComponent.Grid.HtmlClass.FormInput @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" value="@(((ICGridColumn)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeValue(e, column, typeAttr)" />
                                        }
                                        else
                                        {
                                            <input autocomplete="@column.CustomAutoComplete.Invoke()" id="@column.FieldName" name="@column.FieldName" type="text" placeholder="yyyy-mm" class="@GridComponent.Grid.HtmlClass.FormInput @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" value="@(((ICGridColumn)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeValue(e, column, typeAttr)" />
                                        }
                                    }
                                    else if (typeAttr == "datetime-local")
                                    {
                                        if (GridComponent.IsDateTimeLocalSupported)
                                        {
                                            <input autocomplete="@column.CustomAutoComplete.Invoke()" id="@column.FieldName" name="@column.FieldName" type="@typeAttr" placeholder="yyyy-mm-dd hh:mm" class="@GridComponent.Grid.HtmlClass.FormInput @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" value="@(((ICGridColumn)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeValue(e, column, typeAttr)" />
                                        }
                                        else
                                        {
                                            <input autocomplete="@column.CustomAutoComplete.Invoke()" id="@column.FieldName" name="@column.FieldName" type="text" placeholder="yyyy-mm-dd hh:mm" class="@GridComponent.Grid.HtmlClass.FormInput @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" value="@(((ICGridColumn)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeValue(e, column, typeAttr)" />
                                        }
                                    }
                                    else
                                    {
                                        <input autocomplete="@column.CustomAutoComplete.Invoke()" id="@column.FieldName" name="@column.FieldName" type="@typeAttr" class="@GridComponent.Grid.HtmlClass.FormInput @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" value="@(((ICGridColumn)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeValue(e, column, typeAttr)" />
                                    }
                                }
                                else if (type == typeof(System.TimeSpan))
                                {
                                    string typeAttr = ((IGridColumn<T>)column).InputType == InputType.None ? "time" : ((IGridColumn<T>)column).InputType.ToTypeAttr();
                                    <input autocomplete="@column.CustomAutoComplete.Invoke()" id="@column.FieldName" name="@column.FieldName" type="@typeAttr" class="@GridComponent.Grid.HtmlClass.FormInput @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" value="@(((ICGridColumn)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeValue(e, column)" />
                                }
#if !NETSTANDARD2_1 && !NET5_0
                                else if (type == typeof(DateOnly))
                                {
                                    <input autocomplete="@column.CustomAutoComplete.Invoke()" id="@column.FieldName" name="@column.FieldName" type="date" class="@GridComponent.Grid.HtmlClass.FormInput @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" value="@(((ICGridColumn)column).GetFormatedDateTime(value, "date"))" @onchange="(e) => ChangeValue(e, column)" />
                                }
                                else if (type == typeof(TimeOnly))
                                {
                                    <input autocomplete="@column.CustomAutoComplete.Invoke()" id="@column.FieldName" name="@column.FieldName" type="time" class="@GridComponent.Grid.HtmlClass.FormInput @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" value="@(((ICGridColumn)column).GetFormatedDateTime(value, "time"))" @onchange="(e) => ChangeValue(e, column)" />
                                }
#endif
                                else if (type == typeof(bool))
                                {
                                    if (value != null && (bool)value == true)
                                    {
                                        if (column.ToggleSwitch)
                                        {
                                            <label class="@GridComponent.Grid.HtmlClass.FormLabel">@column.FalseLabel</label>
                                            <label class="grid-switch">
                                                <input id="@column.FieldName" name="@column.FieldName" type="checkbox" class="@GridComponent.Grid.HtmlClass.FormInput @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" checked="checked" value="true" @onchange="(e) => ChangeValue(e, column)" />
                                                <span class="@GridComponent.Grid.HtmlClass.FormSpanToggleSwitch"></span>
                                            </label>
                                            <label class="@GridComponent.Grid.HtmlClass.FormLabel">@column.TrueLabel</label>
                                        }
                                        else
                                        {
                                            <label>
                                                <input id="@column.FieldName" name="@column.FieldName" type="checkbox" class="@GridComponent.Grid.HtmlClass.FormCheck @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" checked="checked" value="true" @onchange="(e) => ChangeValue(e, column)" />
                                                <span></span>
                                            </label>
                                        }
                                    }
                                    else
                                    {
                                        if (column.ToggleSwitch)
                                        {
                                            <label class="@GridComponent.Grid.HtmlClass.FormLabel">@column.FalseLabel</label>
                                            <label class="grid-switch">
                                                <input id="@column.FieldName" name="@column.FieldName" type="checkbox" class="@GridComponent.Grid.HtmlClass.FormInput @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" value="false" @onchange="(e) => ChangeValue(e, column)" />
                                                <span class="@GridComponent.Grid.HtmlClass.FormSpanToggleSwitch"></span>
                                            </label>
                                            <label class="@GridComponent.Grid.HtmlClass.FormLabel">@column.TrueLabel</label>
                                        }
                                        else
                                        {
                                            <label>
                                                <input id="@column.FieldName" name="@column.FieldName" type="checkbox" class="@GridComponent.Grid.HtmlClass.FormCheck @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" value="false" @onchange="(e) => ChangeValue(e, column)" />
                                                <span></span>
                                            </label>
                                        }
                                    }
                                }
                                else if (((IGridColumn<T>)column).InputType == InputType.Number)
                                {
                                    <input autocomplete="@column.CustomAutoComplete.Invoke()" type="@(InputType.Number.ToTypeAttr())" id="@column.FieldName" name="@column.FieldName" class="@GridComponent.Grid.HtmlClass.FormInput @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeValue(e, column)" />
                                }
                                else
                                {
                                    <input autocomplete="@column.CustomAutoComplete.Invoke()" id="@column.FieldName" name="@column.FieldName" class="@GridComponent.Grid.HtmlClass.FormInput @(ColumnErrors.ContainsKey(@column.FieldName) ? "input-validation-error" : "")" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeValue(e, column)" />
                                }
                                <span class="field-validation-error">
                                    <span>@ColumnErrors.Get(column.FieldName)</span>
                                </span>
                            }
                        }
                    </div>
                </div>
            }
            else if ((((ICGridColumn)column).SubGrids != null || column.UpdateComponentType != null)
                && string.IsNullOrWhiteSpace(column.TabGroup))
            {
                <div class="@GridComponent.Grid.HtmlClass.FormGroupRow" style="@(((IGridColumn<T>)column).CrudHidden(Item).HasFlag(CrudHidden.UPDATE) && !((IGridColumn<T>)column).ReadOnlyOnUpdate(Item) ? "display:none;" : "")">
                    @if (!string.IsNullOrWhiteSpace(column.TooltipValue))
                    {
                        <div class="@(GridComponent.Grid.HtmlClass.ColMd + column.CrudLabelWidth.ToString())">
                            <FormTooltipComponent T="@T" Column="@column"></FormTooltipComponent>
                        </div>
                    }
                    else
                    {
                        <label class="@(GridComponent.Grid.HtmlClass.FormLabel + " " + GridComponent.Grid.HtmlClass.ColMd + column.CrudLabelWidth.ToString())">@column.Title</label>
                    }
                    @if (column.EnableCard)
                    {
                        <div class="@(GridComponent.Grid.HtmlClass.ColMd + (column.CrudCustomWith ? column.CrudWidth.ToString() : (12 - column.CrudLabelWidth).ToString()))">
                            <div class="@GridComponent.Grid.HtmlClass.Card">
                                <div class="@GridComponent.Grid.HtmlClass.CardBody">@_renderFragments.Get(column.Name)</div>
                            </div>
                        </div>
                     }
                     else
                     {
                         <div class="@(GridComponent.Grid.HtmlClass.ColMd + column.CrudWidth.ToString())">
                            @_renderFragments.Get(column.Name)
                         </div>
                     }
                </div>
            }
        }

        @if (_tabGroups != null)
        {
            foreach (var tabGruop in _tabGroups)
            {
                var columns = GridComponent.Grid.Columns
                    .Where(r => r.TabGroup != null && r.TabGroup.Equals(tabGruop) && _renderFragments.Keys.Any(s => s.Equals(r.Name)));
                var tabLabels = columns.Select(r => new SelectItem(r.Name, r.Title));
                var column = columns.FirstOrDefault();
                <div class="@GridComponent.Grid.HtmlClass.FormGroupRow">
                    <div class="@(GridComponent.Grid.HtmlClass.OffsetMd + column.CrudLabelWidth.ToString() + " " + GridComponent.Grid.HtmlClass.ColMd + (column.CrudCustomWith ? column.CrudWidth.ToString() : (12 - column.CrudLabelWidth).ToString()))">
                        <div class="@GridComponent.Grid.HtmlClass.Card">
                            <div class="@GridComponent.Grid.HtmlClass.CardBody">
                                <GridTabComponent T="@T" TabLabels="@tabLabels" TabContent="@_renderFragments" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        @if (GridComponent.Grid.UpdateConfirmation)
        {
            <div class="@GridComponent.Grid.HtmlClass.FormGroupRow">
                <label class="@(GridComponent.Grid.HtmlClass.FormLabel + " " + GridComponent.Grid.HtmlClass.ColMd + GridComponent.Grid.UpdateConfirmationLabelWidth.ToString())">@Strings.Code</label>
                <div class="@GridComponent.Grid.HtmlClass.FormDivInput @(GridComponent.Grid.HtmlClass.ColMd + GridComponent.Grid.UpdateConfirmationWidth.ToString())">
                    <input class="@GridComponent.Grid.HtmlClass.FormInput" id="code" name="code" readonly disabled type="text" @bind-value="_code">
                </div>
            </div>

            <div class="@GridComponent.Grid.HtmlClass.FormGroupRow">
                <label class="@(GridComponent.Grid.HtmlClass.FormLabel + " " + GridComponent.Grid.HtmlClass.ColMd + GridComponent.Grid.UpdateConfirmationLabelWidth.ToString())">@Strings.Confirm_Code</label>
                <div class="@GridComponent.Grid.HtmlClass.FormDivInput @(GridComponent.Grid.HtmlClass.ColMd + GridComponent.Grid.UpdateConfirmationWidth.ToString())">
                    <input class="@GridComponent.Grid.HtmlClass.FormInput" id="confirm_code" name="confirm_code" type="text" @bind-value="_confirmationCode">
                </div>
            </div>
        }

        <div style="display:flex;">
            <div>
                <CascadingValue Value=@this Name="GridUpdateComponent">
                    <GridUpdateButtonsComponent @ref="GridUpdateButtonsComponent" T="@T"></GridUpdateButtonsComponent>
                </CascadingValue>
                @if (((CGrid<T>)GridComponent.Grid).ButtonCrudComponents != null && ((CGrid<T>)GridComponent.Grid).ButtonCrudComponents.Count() > 0)
                {
                    @foreach (var key in ((CGrid<T>)GridComponent.Grid).ButtonCrudComponents.Keys)
                    {
                        var buttonCrudComponent = ((CGrid<T>)GridComponent.Grid).ButtonCrudComponents.Get(key);
                        if (_buttonCrudComponentVisibility.Get(key))
                        {
                            if (buttonCrudComponent.Content.HasValue)
                            {
                                <button class="@GridComponent.Grid.HtmlClass.ButtonPrimary" type="button" title="@buttonCrudComponent.Label" @onclick="() => GridComponent.ButtonCrudComponentHandler(key)" @onclick:stopPropagation>@buttonCrudComponent.Content.Value</button>
                            }
                            else
                            {
                                <button class="@GridComponent.Grid.HtmlClass.ButtonPrimary" type="button" title="@buttonCrudComponent.Label" @onclick="() => GridComponent.ButtonCrudComponentHandler(key)" @onclick:stopPropagation>@buttonCrudComponent.Label</button>
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>
</EditForm>
