@using GridBlazor.Resources
@using GridShared.Sorting

@typeparam T

<th class="@_cssClass" style="@_cssStyles">
    @if (Column.HeaderCheckbox)
    {
        <div class="grid-header-checkbox">
            <input type='checkbox' checked="@_allChecked" @onchange="HeaderCheckboxChanged" @onclick:stopPropagation>
        </div>
    }
    else if (Column.FilterEnabled)
    {
        <div class="grid-filter" data-type="@Column.FilterWidgetTypeName" data-name="@Column.Name" data-widgetdata="@JsonSerializer.Serialize(Column.FilterWidgetData)" data-filterdata="@JsonSerializer.Serialize(_filterSettings)" data-url="@_url" data-clearinitfilter="@_clearInitFilter.ToString()">
            <span class="@_cssFilterClass" title="@Strings.FilterButtonTooltipText" @onclick="FilterIconClicked" @onclick:stopPropagation></span>
            <CascadingValue Value=@this Name="GridHeaderComponent">
                @FilterWidgetRender
            </CascadingValue>
        </div>
    }
    @if (Column.ParentGrid.ExtSortingEnabled)
    {
        <div class="grid-extsort-draggable @_cssSortingClass" draggable="true" data-column="@Column.Name" @ondragstart="() => HandleDragStart()">
            @if (Column.SortEnabled)
            {
                if (Column.IsSorted)
                {
                    <a href="javascript:void(0);" @onclick="TitleButtonClicked" data-column="@Column.Name" data-sorted="@(Column.Direction == GridSortDirection.Ascending ? "asc" : "desc")">@Column.Title</a>
                }
                else
                {
                    <a href="javascript:void(0);" @onclick="TitleButtonClicked" data-column="@Column.Name">@Column.Title</a>
                }
            }
            else
            {
                <span data-column="@Column.Name">@Column.Title</span>
            }
            @if (Column.IsSorted)
            {
                <span class="grid-sort-arrow"></span>
            }
        </div>
    }
    else
    {
        <div class="@_cssSortingClass">
            @if (Column.SortEnabled)
            {
                <button @onclick="TitleButtonClicked" type="button">@Column.Title</button>
            }
            else
            {
                <span>@Column.Title</span>
            }
            @if (Column.IsSorted)
            {
                <span class="grid-sort-arrow"></span>
            }
        </div>
    }
</th>


