<ul @ref="labels" class="nav nav-tabs" @onclick:stopPropagation>
    @for (int i = 0; i < TabLabels.Count(); i++)
    {
        var tab = TabLabels.ElementAt(i);
        int capturedI = i;
        <li class="nav-item@(i == 0 ? " active" : "")" data-grid="tab" data-grid-id="@capturedI">
            <a class="nav-link@(i == 0 ? " active" : "")" data-grid="tab" data-grid-id="@capturedI" href="javascript:void(0);" @onclick="e => TabClicked(e, capturedI)">@tab.Title</a>
        </li>
    }
</ul>
<div @ref="content" class="tab-content">
    @for (int i = 0; i < TabLabels.Count(); i++)
    {
        var tab = TabLabels.ElementAt(i);
        int capturedI = i;
        <div class="tab-pane@(i == 0 ? " active" : "")" data-grid="tab" data-grid-id="@capturedI" id="@tab.Value.ToLower()">
            @TabContent.Get(tab.Value)
        </div>
    }
</div>

