@using GridBlazor.Filtering
@using GridBlazor.Pagination
@using GridBlazor.Resources
@using GridBlazor.Sorting
@using GridShared
@using GridShared.Columns
@using GridShared.Pagination
@using System.Linq

@typeparam T

@if (Grid != null)
{
    <div @ref="Spinner" class="grid-spinner" style="display:none;"></div>
    <div @ref="Content" class="grid-content">
        @if (Grid.Mode == GridMode.Grid || Grid.PagingType == PagingType.Virtualization || Grid.ModalForms)
        {
            if (Grid.ComponentOptions.RenderRowsOnly)
            {
                if (Grid.DisplayingItemsCount == 0 && Grid.PagingType != PagingType.Virtualization)
                {
                    <tr class="@GridEmptyTextCssClass">
                        @if (HasSubGrid)
                        {
                            <td class="@GridCellCssClass" data-name="" style="width:36.5px;"></td>
                        }
                        @if ((Grid.ReadEnabled || ((CGrid<T>)Grid).FuncReadEnabled != null) && !HeaderCrudButtons)
                        {
                            <td class="@GridButtonCellCssClass" data-name="" style="width:35px;"></td>
                        }
                        @if ((Grid.UpdateEnabled || ((CGrid<T>)Grid).FuncUpdateEnabled != null) && !HeaderCrudButtons)
                        {
                            <td class="@GridButtonCellCssClass" data-name="" style="width:35px;"></td>
                        }
                        @if ((Grid.DeleteEnabled || ((CGrid<T>)Grid).FuncDeleteEnabled != null) && !HeaderCrudButtons)
                        {
                            <td class="@GridButtonCellCssClass" data-name="" style="width:35px;"></td>
                        }
                        @if (RequiredTotalsColumn)
                        {
                            <td class="@GridCellCssClass" data-name="" style="width:90px;"></td>
                        }
                        <td colspan="@Grid.Columns.Count()">
                            @Grid.EmptyGridText
                        </td>
                    </tr>
                }
                else
                {
                    int i = 0;
                    if (Grid.GroupingEnabled)
                    {
                        <CascadingValue Value=@this Name="GridComponent">
                            <GridGroupRowsComponent T="@T" Grid="@Grid" Values="@(new List<Tuple<string, object>>())" HasSubGrid="@HasSubGrid" RequiredTotalsColumn="@RequiredTotalsColumn" ItemsToDisplay="@Grid.ItemsToDisplay" IsVisible="true" RowId="@i"></GridGroupRowsComponent>
                        </CascadingValue>
                    }
                    else
                    {
                        if (Grid.PagingType == PagingType.Virtualization)
                        {
                            @VirtualizedRenderFragment
                        }
                        else
                        {
                            foreach (object item in Grid.ItemsToDisplay)
                            {
                                int capturedI = i;
                                <CascadingValue Value=@this Name="GridComponent">
                                    <GridRowComponent T="@T" Grid="@Grid" HasSubGrid="@HasSubGrid" RequiredTotalsColumn="@RequiredTotalsColumn" Item="@item" GridPosition="@capturedI"></GridRowComponent>
                                </CascadingValue>
                                i++;
                            }
                        }
                    }
                }
                // totals must not be rendered when RenderRowsOnly is true
                /**
                if (HasTotals)
                {
                    
                }
                */
            }
            else
            {
                <div class="@GridMvcCssClass"
                     data-lang="@Grid.Language"
                     data-style="@CssFramework.ToString()"
                     data-gridname="@Grid.ComponentOptions.GridName"
                     data-selectable="@Grid.ComponentOptions.Selectable.ToString().ToLower()"
                     data-extsortable="@Grid.ExtSortingEnabled.ToString().ToLower()"
                     data-groupable="@Grid.GroupingEnabled.ToString().ToLower()"
                     data-multiplefilters="@Grid.ComponentOptions.AllowMultipleFilters.ToString().ToLower()"
                     tabindex="-1"
                     dir="@Grid.Direction.ToDirection()"
                     @ref="Gridmvc"
                     @onkeyup="GridComponentKeyup">
                    <div class="@GridWrapCssClass">
                        <p id="error" class="@GridErrorCssClass">@Error</p>
                        <div class="@Grid.HtmlClass.Row grid-header-row">
                            <div class="@(Grid.HtmlClass.ColMd)6 grid-header-buttons">
                                @if (Grid.SyncButtonEnabled)
                                {
                                    <div class="grid-sync">
                                        <button class="grid-button grid-button-sync @Grid.HtmlClass.Button" type="button" title="Sync" @onclick="e => UpdateGrid(true, true)" @onclick:stopPropagation></button>
                                    </div>
                                }
                                @if (Grid.ClearFiltersButtonEnabled)
                                {
                                    <div class="grid-all-filters-clear">
                                        <button class="grid-button grid-button-all-filters-clear @Grid.HtmlClass.Button" type="button" title="@Strings.ClearAllFilters" @onclick="RemoveAllFilters" @onclick:stopPropagation></button>
                                    </div>
                                }
                                @if (Grid.CreateEnabled)
                                {
                                    <div class="grid-crud">
                                        @if (string.IsNullOrWhiteSpace(Grid.CreateLabel))
                                        {
                                            <button class="grid-button grid-button-add @Grid.HtmlClass.Button" type="button" title="@Grid.CreateTooltip" @onclick="CreateHandler" @onclick:stopPropagation></button>
                                        }
                                        else
                                        {
                                            <button class="grid-button-label-add @Grid.HtmlClass.ButtonPrimary" type="button" title="@Grid.CreateTooltip" @onclick="CreateHandler" @onclick:stopPropagation>@Grid.CreateLabel</button>
                                        }
                                    </div>
                                }
                                @if ((Grid.ReadEnabled || ((CGrid<T>)Grid).FuncReadEnabled != null) && HeaderCrudButtons)
                                {
                                    <div class="grid-crud">
                                        @if (string.IsNullOrWhiteSpace(Grid.ReadLabel))
                                        {
                                            <button class='grid-button grid-button-header-view @Grid.HtmlClass.Button' title="@Grid.ReadTooltip" @onclick="@(e => ReadSelectedHandler())" type="button" @onclick:stopPropagation></button>
                                        }
                                        else
                                        {
                                            <button class='grid-button-header-label-view @Grid.HtmlClass.ButtonPrimary' title="@Grid.ReadTooltip" @onclick="@(e => ReadSelectedHandler())" type="button" @onclick:stopPropagation>@Grid.ReadLabel</button>
                                        }
                                    </div>
                                }
                                @if ((Grid.UpdateEnabled || ((CGrid<T>)Grid).FuncUpdateEnabled != null) && HeaderCrudButtons)
                                {
                                    <div class="grid-crud">
                                        @if (string.IsNullOrWhiteSpace(Grid.UpdateLabel))
                                        {
                                            <button class='grid-button grid-button-header-edit @Grid.HtmlClass.Button' title="@Grid.UpdateTooltip" @onclick="@(e => UpdateSelectedHandler())" type="button" @onclick:stopPropagation></button>
                                        }
                                        else
                                        {
                                            <button class='grid-button-header-label-edit @Grid.HtmlClass.ButtonPrimary' title="@Grid.UpdateTooltip" @onclick="@(e => UpdateSelectedHandler())" type="button" @onclick:stopPropagation>@Grid.UpdateLabel</button>
                                        }
                                    </div>
                                }
                                @if ((Grid.DeleteEnabled || ((CGrid<T>)Grid).FuncDeleteEnabled != null) && HeaderCrudButtons)
                                {
                                    <div class="grid-crud">
                                        @if (string.IsNullOrWhiteSpace(Grid.DeleteLabel))
                                        {
                                            <button class='grid-button grid-button-header-delete @Grid.HtmlClass.Button' title="@Grid.DeleteTooltip" @onclick="@(e => DeleteSelectedHandler())" type="button" @onclick:stopPropagation></button>
                                        }
                                        else
                                        {
                                            <button class='grid-button-header-label-delete @Grid.HtmlClass.ButtonPrimary' title="@Grid.DeleteTooltip" @onclick="@(e => DeleteSelectedHandler())" type="button" @onclick:stopPropagation>@Grid.DeleteLabel</button>
                                        }
                                    </div>
                                }
                                @if (Grid.ExcelExport)
                                {
                                    <div class="grid-excel">
                                        <button class="grid-button grid-button-excel @Grid.HtmlClass.Button" type="button" title="Excel" @onclick="ExcelHandler" @onclick:stopPropagation></button>
                                    </div>
                                }
                                @if (Grid.ButtonComponents != null && Grid.ButtonComponents.Count() > 0)
                                {
                                    <div class="grid-button-components">
                                        @foreach (var key in Grid.ButtonComponents.Keys)
                                        {
                                            if (Grid.ButtonComponents.Get(key).Content.HasValue)
                                            {
                                                <button class="grid-button grid-button-component @Grid.HtmlClass.Button" type="button" title="@Grid.ButtonComponents.Get(key).Label" @onclick="() => ButtonComponentHandler(key)" @onclick:stopPropagation>@Grid.ButtonComponents.Get(key).Content.Value</button>
                                            }
                                            else
                                            {
                                                <button class="grid-button grid-button-component @Grid.HtmlClass.Button" type="button" title="@Grid.ButtonComponents.Get(key).Label" @onclick="() => ButtonComponentHandler(key)" @onclick:stopPropagation>@Grid.ButtonComponents.Get(key).Label</button>
                                            }
                                        }
                                    </div>
                                }
                            </div>
                            @if (Grid.SearchOptions.Enabled)
                            {
                                <CascadingValue Value=@this Name="GridComponent">
                                    <GridSearchComponent @ref="SearchComponent" T="@T" Grid="@Grid"></GridSearchComponent>
                                </CascadingValue>
                            }
                        </div>
                        @if (Grid.ExtSortingEnabled)
                        {
                            <CascadingValue Value=@this Name="GridComponent">
                                <GridExtSortHeaderComponent T="@T" Grid="@Grid"></GridExtSortHeaderComponent>
                            </CascadingValue>
                        }
                        <div class="@TableWrapCssClass">
                            @if (Grid.TableLayout == TableLayout.Auto)
                            {
                                <div class="grid-table-wrap" @ref="GridTableWrap">
                                    <table @ref="GridTable" class="@TableCssClass @(Grid.ComponentOptions.Striped && HasSubGrid ? "substriped" : Grid.ComponentOptions.Striped ? "striped" : "")">
                                        <thead>
                                            <tr>
                                                @if (HasSubGrid)
                                                {
                                                    <th class="@GridHeaderCssClass" style="width:36.5px;"></th>
                                                }
                                                @if ((Grid.ReadEnabled || ((CGrid<T>)Grid).FuncReadEnabled != null) && !HeaderCrudButtons)
                                                {
                                                    <th class="@GridHeaderCssClass" style="width:35px;"></th>
                                                }
                                                @if ((Grid.UpdateEnabled || ((CGrid<T>)Grid).FuncUpdateEnabled != null) && !HeaderCrudButtons)
                                                {
                                                    <th class="@GridHeaderCssClass" style="width:35px;"></th>
                                                }
                                                @if ((Grid.DeleteEnabled || ((CGrid<T>)Grid).FuncDeleteEnabled != null) && !HeaderCrudButtons)
                                                {
                                                    <th class="@GridHeaderCssClass" style="width:35px;"></th>
                                                }
                                                @if (RequiredTotalsColumn)
                                                {
                                                    <th class="@GridHeaderCssClass" style="width:90px;"></th>
                                                }
                                                @foreach (IGridColumn column in Grid.Columns)
                                                {
                                                    <CascadingValue Value=@this Name="GridComponent">
                                                        <GridHeaderComponent T="@T" Column="@column" FilterSettings="@((QueryStringFilterSettings)Grid.Settings.FilterSettings)" SortingSettings="@((QueryStringSortSettings)Grid.Settings.SortSettings)" Filters="@_filterComponents"></GridHeaderComponent>
                                                    </CascadingValue>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <CascadingValue Value=@this Name="GridComponent">
                                                <GridBodyComponent T="@T"></GridBodyComponent>
                                            </CascadingValue>
                                            @if (HasTotals)
                                            {
                                                <CascadingValue Value=@this Name="GridComponent">
                                                    <GridTotalsComponent @ref="TotalsComponent" T="@T" Grid="@Grid"></GridTotalsComponent>
                                                </CascadingValue>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div id="@gridTableHead" @ref="GridTableWrap" class="grid-table-head" style="@(Grid.Width == null ? "" : "width:" + Grid.Width + ";")">
                                    <table class="table grid-table" @ref="GridTable" style="table-layout:fixed;">
                                        <colgroup>
                                            @if (HasSubGrid)
                                            {
                                                <col style="width:2em;" />
                                            }
                                            @if (RequiredTotalsColumn)
                                            {
                                                <col style="width:5em;" />
                                            }
                                            @if ((Grid.ReadEnabled || ((CGrid<T>)Grid).FuncReadEnabled != null) && !HeaderCrudButtons)
                                            {
                                                <col style="width:35px;" />
                                            }
                                            @if ((Grid.UpdateEnabled || ((CGrid<T>)Grid).FuncUpdateEnabled != null) && !HeaderCrudButtons)
                                            {
                                                <col style="width:35px;" />
                                            }
                                            @if ((Grid.DeleteEnabled || ((CGrid<T>)Grid).FuncDeleteEnabled != null) && !HeaderCrudButtons)
                                            {
                                                <col style="width:35px;" />
                                            }
                                            @foreach (IGridColumn column in Grid.Columns)
                                            {
                                                <GridColComponent Column="column"></GridColComponent>
                                            }
                                            @if (Grid.Height != null)
                                            {
                                                <col style="width:16px;" />
                                            }
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                @if (HasSubGrid)
                                                {
                                                    <th class="grid-header">
                                                        <div class="grid-header-group">
                                                            <div class="grid-header-title" data-column="">
                                                                <span data-column=""></span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                }
                                                @if ((Grid.ReadEnabled || ((CGrid<T>)Grid).FuncReadEnabled != null) && !HeaderCrudButtons)
                                                {
                                                    <th class="@GridHeaderCssClass">
                                                        <div class="grid-header-group">
                                                            <div class="grid-header-title" data-column="">
                                                                <span data-column=""></span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                }
                                                @if ((Grid.UpdateEnabled || ((CGrid<T>)Grid).FuncUpdateEnabled != null) && !HeaderCrudButtons)
                                                {
                                                    <th class="@GridHeaderCssClass">
                                                        <div class="grid-header-group">
                                                            <div class="grid-header-title" data-column="">
                                                                <span data-column=""></span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                }
                                                @if ((Grid.DeleteEnabled || ((CGrid<T>)Grid).FuncDeleteEnabled != null) && !HeaderCrudButtons)
                                                {
                                                    <th class="@GridHeaderCssClass">
                                                        <div class="grid-header-group">
                                                            <div class="grid-header-title" data-column="">
                                                                <span data-column=""></span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                }
                                                @if (RequiredTotalsColumn)
                                                {
                                                    <th class="grid-header">
                                                        <div class="grid-header-group">
                                                            <div class="grid-header-title" data-column="">
                                                                <span data-column=""></span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                }
                                                @foreach (IGridColumn column in Grid.Columns)
                                                {
                                                    <CascadingValue Value=@this Name="GridComponent">
                                                        <GridHeaderComponent T="@T" Column="@column" FilterSettings="@((QueryStringFilterSettings)Grid.Settings.FilterSettings)" SortingSettings="@((QueryStringSortSettings)Grid.Settings.SortSettings)" Filters="@_filterComponents"></GridHeaderComponent>
                                                    </CascadingValue>
                                                }
                                                @if (Grid.Height != null)
                                                {
                                                    <th></th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody style="display:none;">
                                            <tr>
                                                @if (HasSubGrid)
                                                {
                                                    <td></td>
                                                }
                                                @if (RequiredTotalsColumn)
                                                {
                                                    <td></td>
                                                }
                                                @foreach (IGridColumn column in Grid.Columns)
                                                {
                                                    <td></td>
                                                }
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="@gridTableBody" class="grid-table-body" style="@(Grid.Width == null ? "" : "width:" + Grid.Width + ";") @(Grid.Height == null ? "" : "height:" + Grid.Height + ";")">
                                    <table class="@TableCssClass @(Grid.ComponentOptions.Striped && HasSubGrid ? "substriped" : Grid.ComponentOptions.Striped ? "striped" : "")" style="table-layout:fixed;">
                                        <colgroup>
                                            @if (HasSubGrid)
                                            {
                                                <col style="width:2em;" />
                                            }
                                            @if (RequiredTotalsColumn)
                                            {
                                                <col style="width:5em;" />
                                            }
                                            @if ((Grid.ReadEnabled || ((CGrid<T>)Grid).FuncReadEnabled != null) && !HeaderCrudButtons)
                                            {
                                                <col style="width:35px;" />
                                            }
                                            @if ((Grid.UpdateEnabled || ((CGrid<T>)Grid).FuncUpdateEnabled != null) && !HeaderCrudButtons)
                                            {
                                                <col style="width:35px;" />
                                            }
                                            @if ((Grid.DeleteEnabled || ((CGrid<T>)Grid).FuncDeleteEnabled != null) && !HeaderCrudButtons)
                                            {
                                                <col style="width:35px;" />
                                            }
                                            @foreach (IGridColumn column in Grid.Columns)
                                            {
                                                <GridColComponent Column="column"></GridColComponent>
                                            }
                                        </colgroup>
                                        <tbody>
                                            <CascadingValue Value=@this Name="GridComponent">
                                                <GridBodyComponent T="@T"></GridBodyComponent>
                                            </CascadingValue>
                                        </tbody>
                                    </table>
                                </div>
                                @if (HasTotals)
                                {
                                    <div id="@gridTableTotals" class="grid-table-head" style="@(Grid.Width == null ? "" : "width:" + Grid.Width + ";")">
                                        <table class="@TableCssClass" style="table-layout:fixed;">
                                            <colgroup>
                                                @if (HasSubGrid)
                                                {
                                                    <col style="width:2em;" />
                                                }
                                                @if (RequiredTotalsColumn)
                                                {
                                                    <col style="width:5em;" />
                                                }
                                                @if ((Grid.ReadEnabled || ((CGrid<T>)Grid).FuncReadEnabled != null) && !HeaderCrudButtons)
                                                {
                                                    <col style="width:35px;" />
                                                }
                                                @if ((Grid.UpdateEnabled || ((CGrid<T>)Grid).FuncUpdateEnabled != null) && !HeaderCrudButtons)
                                                {
                                                    <col style="width:35px;" />
                                                }
                                                @if ((Grid.DeleteEnabled || ((CGrid<T>)Grid).FuncDeleteEnabled != null) && !HeaderCrudButtons)
                                                {
                                                    <col style="width:35px;" />
                                                }
                                                @foreach (IGridColumn column in Grid.Columns)
                                                {
                                                    <GridColComponent Column="column"></GridColComponent>
                                                }
                                            </colgroup>
                                            <tbody>
                                                <CascadingValue Value=@this Name="GridComponent">
                                                    <GridTotalsComponent @ref="TotalsComponent" T="@T" Grid="@Grid"></GridTotalsComponent>
                                                </CascadingValue>
                                            </tbody>
                                        </table>
                                    </div>
                                }
                            }
                        </div>
                        <div class="@GridFooterCssClass">
                            @if (Grid.PagingType == PagingType.Pagination && Grid.Pager != null)
                            {
                                <CascadingValue Value=@this Name="GridComponent">
                                    <GridPagerComponent T="@T"></GridPagerComponent>
                                </CascadingValue>
                            }
                            else if (Grid.PagingType == PagingType.Virtualization && Grid.ChangeVirtualizedHeight)
                            {
                                <div class="grid-pager-sizer">
                                    <div class="grid-change-page-size @Grid.HtmlClass.FooterRow">
                                        <label class="@Grid.HtmlClass.FormLabel">@Strings.Height</label>
                                        <div class="@Grid.HtmlClass.FormDivInput">
                                            <input class="@Grid.HtmlClass.FormInput grid-change-page-size-input" @bind="VirtualizedHeight" @onkeyup="InputVirtualizedHeightKeyup" @onblur="InputVirtualizedHeightBlur" @onclick:stopPropagation />
                                        </div>
                                        <label class="@Grid.HtmlClass.FormLabel">px</label>
                                    </div>
                                </div>
                            }
                            @if (Grid.ComponentOptions.ShowGridItemsCount)
                            {
                                <CascadingValue Value=@this Name="GridComponent">
                                    <GridCountComponent @ref="CountComponent" T="@T"></GridCountComponent>
                                </CascadingValue>
                            }
                        </div>
                    </div>
                </div>

                @if (Grid.Mode != GridMode.Grid)
                {
                    <div class="@Grid.HtmlClass.Modal" tabindex="-1" role="dialog" style="display:block;position:absolute;margin-left:5px;">
                        <div class="@Grid.HtmlClass.ModalDialog" role="document" style="position:absolute;">
                            <div class="@Grid.HtmlClass.ModalContent grid-crud" style="overflow-y:scroll;@(!string.IsNullOrWhiteSpace(Grid.ModalWidth) ? "width:" + Grid.ModalWidth + ";" : (gridComponentSP == null ? "" : "width:" + gridComponentSP.Width + "px;")) @(!string.IsNullOrWhiteSpace(Grid.ModalHeight) ? "height:" + Grid.ModalHeight + ";" : (gridComponentSP == null ? "" : "height:" + (int)(gridComponentSP.Height * 0.96) + "px;"))">
                                <div class="@Grid.HtmlClass.ModalBody">
                                    @if (Grid.Mode == GridMode.Create && Grid.CreateEnabled)
                                    {
                                        <div dir="@Grid.Direction.ToDirection()">
                                            @if (Grid.CreateComponent == null)
                                            {
                                                <CascadingValue Value=@this Name="GridComponent">
                                                    <GridCreateComponent @ref="CreateComponent" T="@T" Item="@Item"></GridCreateComponent>
                                                </CascadingValue>
                                            }
                                            else
                                            {
                                                @CrudRender
                                            }
                                        </div>
                                    }
                                    else if (Grid.Mode == GridMode.Read && (Grid.ReadEnabled || (((CGrid<T>)Grid).FuncReadEnabled != null && ((CGrid<T>)Grid).FuncReadEnabled(Item))))
                                    {
                                        <div dir="@Grid.Direction.ToDirection()">
                                            @if (Grid.ReadComponent == null)
                                            {
                                                <CascadingValue Value=@this Name="GridComponent">
                                                    <GridReadComponent @ref="ReadComponent" T="@T" Item="@Item"></GridReadComponent>
                                                </CascadingValue>
                                            }
                                            else
                                            {
                                                @CrudRender
                                            }
                                        </div>
                                    }
                                    else if (Grid.Mode == GridMode.Update && (Grid.UpdateEnabled || (((CGrid<T>)Grid).FuncUpdateEnabled != null && ((CGrid<T>)Grid).FuncUpdateEnabled(Item))))
                                    {
                                        <div dir="@Grid.Direction.ToDirection()">
                                            @if (Grid.UpdateComponent == null)
                                            {
                                                <CascadingValue Value=@this Name="GridComponent">
                                                    <GridUpdateComponent @ref="UpdateComponent" T="@T" Item="@Item"></GridUpdateComponent>
                                                </CascadingValue>
                                            }
                                            else
                                            {
                                                @CrudRender
                                            }
                                        </div>
                                    }
                                    else if (Grid.Mode == GridMode.Delete && (Grid.DeleteEnabled || (((CGrid<T>)Grid).FuncDeleteEnabled != null && ((CGrid<T>)Grid).FuncDeleteEnabled(Item))))
                                    {
                                        <div dir="@Grid.Direction.ToDirection()">
                                            @if (Grid.DeleteComponent == null)
                                            {
                                                <CascadingValue Value=@this Name="GridComponent">
                                                    <GridDeleteComponent @ref="DeleteComponent" T="@T" Item="@Item"></GridDeleteComponent>
                                                </CascadingValue>
                                            }
                                            else
                                            {
                                                @CrudRender
                                            }
                                        </div>
                                    }
                                    else if (Grid.Mode == GridMode.Form)
                                    {
                                        <div dir="@Grid.Direction.ToDirection()">
                                            @CrudRender
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        else if (Grid.Mode == GridMode.Create && Grid.CreateEnabled)
        {
            <div dir="@Grid.Direction.ToDirection()">
                @if (Grid.CreateComponent == null)
                {
                    <CascadingValue Value=@this Name="GridComponent">
                        <GridCreateComponent @ref="CreateComponent" T="@T" Item="@Item"></GridCreateComponent>
                    </CascadingValue>
                }
                else
                {
                    @CrudRender
                }
            </div>
        }
        else if (Grid.Mode == GridMode.Read && (Grid.ReadEnabled || (((CGrid<T>)Grid).FuncReadEnabled != null && ((CGrid<T>)Grid).FuncReadEnabled(Item))))
        {
            <div dir="@Grid.Direction.ToDirection()">
                @if (Grid.ReadComponent == null)
                {
                    <CascadingValue Value=@this Name="GridComponent">
                        <GridReadComponent @ref="ReadComponent" T="@T" Item="@Item"></GridReadComponent>
                    </CascadingValue>
                }
                else
                {
                    @CrudRender
                }
            </div>
        }
        else if (Grid.Mode == GridMode.Update && (Grid.UpdateEnabled || (((CGrid<T>)Grid).FuncUpdateEnabled != null && ((CGrid<T>)Grid).FuncUpdateEnabled(Item))))
        {
            <div dir="@Grid.Direction.ToDirection()">
                @if (Grid.UpdateComponent == null)
                {
                    <CascadingValue Value=@this Name="GridComponent">
                        <GridUpdateComponent @ref="UpdateComponent" T="@T" Item="@Item"></GridUpdateComponent>
                    </CascadingValue>
                }
                else
                {
                    @CrudRender
                }
            </div>
        }
        else if (Grid.Mode == GridMode.Delete && (Grid.DeleteEnabled || (((CGrid<T>)Grid).FuncDeleteEnabled != null && ((CGrid<T>)Grid).FuncDeleteEnabled(Item))))
        {
            <div dir="@Grid.Direction.ToDirection()">
                @if (Grid.DeleteComponent == null)
                {
                    <CascadingValue Value=@this Name="GridComponent">
                        <GridDeleteComponent @ref="DeleteComponent" T="@T" Item="@Item"></GridDeleteComponent>
                    </CascadingValue>
                }
                else
                {
                    @CrudRender
                }
            </div>
        }
        else if (Grid.Mode == GridMode.Form)
        {
            <div dir="@Grid.Direction.ToDirection()">
                @CrudRender
            </div>
        }
    </div>
}
