@using GridBlazor.Resources
@using GridShared.Sorting

@typeparam T

<th class="@_cssClass @_dropClass" style="@_cssStyles"
    @ondragenter="HandleDragEnter" 
    @ondragleave="HandleDragLeave" 
    @ondrop="HandleDrop" 
    ondragover="event.preventDefault();">
    <div class="grid-header-group">
        @if (GridComponent.Grid.RearrangeColumnEnabled
                && !string.IsNullOrEmpty(_dropClass))
        {
            <div class="grid-column-rearrange-insert-placeholder">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
                </svg>
            </div>   
        }
        @if (Column.HeaderCheckbox)
        {
            <div class="grid-header-checkbox">
                @if (_allChecked == null || _showAllChecked == false)
                {
                    <label>
                        <input class="@GridComponent.Grid.HtmlClass.FormCheck grid-header-checkbox-input" type="checkbox" @onchange="CheckboxChangeHandler" @onclick:stopPropagation>
                        <span class="null-checkbox"></span>
                    </label>
                }
                else
                {
                    <label>
                        <input class="@GridComponent.Grid.HtmlClass.FormCheck" type="checkbox" checked="@_allChecked" @onchange="CheckboxChangeHandler" @onclick:stopPropagation>
                        <span></span>
                    </label>
                }
            </div>
        }
        @if (Column.ParentGrid.ExtSortingEnabled || GridComponent.Grid.RearrangeColumnEnabled)
        {
            <div class="grid-extsort-draggable @_cssSortingClass" draggable="true" data-column="@Column.Name" @ondragstart="() => HandleDragStart()" @onmouseover="DisplayTooltip" @onmouseout="HideTooltip">
                @if (Column.SortEnabled && !Column.NotDbMapped)
                {
                    if (Column.IsSorted)
                    {
                        <button type="button" @onclick="TitleButtonClicked" data-column="@Column.Name" data-sorted="@(Column.Direction == GridSortDirection.Ascending ? "asc" : "desc")">@Column.Title</button>
                    }
                    else
                    {
                        <button type="button" @onclick="TitleButtonClicked" data-column="@Column.Name">@Column.Title</button>
                    }
                }
                else
                {
                    <span data-column="@Column.Name">@Column.Title</span>
                }
                @if (Column.IsSorted)
                {
                    <span class="grid-sort-arrow"></span>
                }
            </div>
        }
        else
        {
            <div class="@_cssSortingClass" @onmouseover="DisplayTooltip" @onmouseout="HideTooltip">
                @if (Column.SortEnabled && !Column.NotDbMapped)
                {
                    if (Column.IsSorted)
                    {
                        <button type="button" @onclick="TitleButtonClicked" data-column="@Column.Name" data-sorted="@(Column.Direction == GridSortDirection.Ascending ? "asc" : "desc")">@Column.Title</button>
                    }
                    else
                    {
                        <button type="button" @onclick="TitleButtonClicked" data-column="@Column.Name">@Column.Title</button>
                    }
                }
                else
                {
                    <span data-column="@Column.Name">@Column.Title</span>
                }
                @if (Column.IsSorted)
                {
                    <span class="grid-sort-arrow"></span>
                }
            </div>
        }
        @if (!Column.HeaderCheckbox && Column.FilterEnabled && !Column.NotDbMapped)
        {
            <div class="grid-filter" data-type="@Column.FilterWidgetTypeName" data-name="@Column.Name" data-widgetdata="@JsonSerializer.Serialize(Column.FilterWidgetData)" data-filterdata="@JsonSerializer.Serialize(_filterSettings)" data-url="@_url" data-clearinitfilter="@_clearInitFilter.ToString()">
                <span class="@_cssFilterClass" title="@Strings.FilterButtonTooltipText" @onclick="FilterIconClicked" @onclick:stopPropagation></span>
                @FilterWidgetRender
            </div>
        }
    </div>
    @if (!string.IsNullOrWhiteSpace(Column.TooltipValue))
    {
        <HeaderTooltipComponent T="@T" Value="@Column.TooltipValue" Visible="@_isTooltipVisible"></HeaderTooltipComponent>
    }
</th>


