@using GridBlazor.Columns
@using GridBlazor.Resources
@using GridShared
@using GridShared.Columns

@typeparam T

<h1>@Strings.Add</h1>

<EditForm Model="@Item" OnValidSubmit="@CreateItem">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p id="error" style="color:red;">@Error</p>
    <div class="form-horizontal">
        @foreach (var column in GridComponent.Grid.Columns)
        {
            if (((ICGridColumn)column).SubGrids == null && column.ComponentType == null
                && column.CreateComponentType == null && column.ReadComponentType == null
                && column.UpdateComponentType == null && column.DeleteComponentType == null)
            {
                (Type type, object value) = ((IGridColumn<T>)column).GetTypeAndValue(Item);
                <div class="form-group row" style="@(column.CrudHidden.HasFlag(CrudHidden.CREATE)?"display:none;":"")">
                    <label for="@column.FieldName" class="col-form-label col-md-2">@column.Title</label>
                    <div class="@(type == typeof(bool)?"col-md-1":"col-md-5")">
                        @if (((IGridColumn<T>)column).IsSelectField.IsSelectKey)
                        {
                            var selectedValue = column.GetFormatedValue(value);
                            if (type == typeof(string))
                            {
                                <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeString(e, column)">
                                    <option value="">@Strings.SelectItem</option>
                                    @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                    {
                                        if (selectItem.Value == selectedValue)
                                        {
                                            <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                        }
                                        else
                                        {
                                            <option value="@selectItem.Value">@selectItem.Title</option>
                                        }
                                    }
                                </select>
                            }
                            else if (type == typeof(DateTime))
                            {
                                <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeDateTime(e, column, null)">
                                    <option value="">@Strings.SelectItem</option>
                                    @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                    {
                                        if (selectItem.Value == selectedValue)
                                        {
                                            <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                        }
                                        else
                                        {
                                            <option value="@selectItem.Value">@selectItem.Title</option>
                                        }
                                    }
                                </select>
                            }
                            else if (type == typeof(System.DateTimeOffset))
                            {
                                <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeDateTimeOffset(e, column, null)">
                                    <option value="">@Strings.SelectItem</option>
                                    @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                    {
                                        if (selectItem.Value == selectedValue)
                                        {
                                            <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                        }
                                        else
                                        {
                                            <option value="@selectItem.Value">@selectItem.Title</option>
                                        }
                                    }
                                </select>
                            }
                            else if (type == typeof(System.TimeSpan))
                            {
                                <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeTimeSpan(e, column)">
                                    <option value="">@Strings.SelectItem</option>
                                    @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                    {
                                        if (selectItem.Value == selectedValue)
                                        {
                                            <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                        }
                                        else
                                        {
                                            <option value="@selectItem.Value">@selectItem.Title</option>
                                        }
                                    }
                                </select>
                            }
                            else if (type == typeof(System.Int32))
                            {
                                <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeInt32(e, column)">
                                    <option value="">@Strings.SelectItem</option>
                                    @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                    {
                                        if (selectItem.Value == selectedValue)
                                        {
                                            <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                        }
                                        else
                                        {
                                            <option value="@selectItem.Value">@selectItem.Title</option>
                                        }
                                    }
                                </select>
                            }
                            else if (type == typeof(System.Double))
                            {
                                <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeDouble(e, column)">
                                    <option value="">@Strings.SelectItem</option>
                                    @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                    {
                                        if (selectItem.Value == selectedValue)
                                        {
                                            <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                        }
                                        else
                                        {
                                            <option value="@selectItem.Value">@selectItem.Title</option>
                                        }
                                    }
                                </select>
                            }
                            else if (type == typeof(System.Decimal))
                            {
                                <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeDecimal(e, column)">
                                    <option value="">@Strings.SelectItem</option>
                                    @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                    {
                                        if (selectItem.Value == selectedValue)
                                        {
                                            <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                        }
                                        else
                                        {
                                            <option value="@selectItem.Value">@selectItem.Title</option>
                                        }
                                    }
                                </select>
                            }
                            else if (type == typeof(System.Byte))
                            {
                                <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeByte(e, column)">
                                    <option value="">@Strings.SelectItem</option>
                                    @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                    {
                                        if (selectItem.Value == selectedValue)
                                        {
                                            <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                        }
                                        else
                                        {
                                            <option value="@selectItem.Value">@selectItem.Title</option>
                                        }
                                    }
                                </select>
                            }
                            else if (type == typeof(System.Single))
                            {
                                <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeSingle(e, column)">
                                    <option value="">@Strings.SelectItem</option>
                                    @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                    {
                                        if (selectItem.Value == selectedValue)
                                        {
                                            <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                        }
                                        else
                                        {
                                            <option value="@selectItem.Value">@selectItem.Title</option>
                                        }
                                    }
                                </select>
                            }
                            else if (type == typeof(System.Int64))
                            {
                                <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeInt64(e, column)">
                                    <option value="">@Strings.SelectItem</option>
                                    @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                    {
                                        if (selectItem.Value == selectedValue)
                                        {
                                            <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                        }
                                        else
                                        {
                                            <option value="@selectItem.Value">@selectItem.Title</option>
                                        }
                                    }
                                </select>
                            }
                            else if (type == typeof(System.Int16))
                            {
                                <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeInt16(e, column)">
                                    <option value="">@Strings.SelectItem</option>
                                    @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                    {
                                        if (selectItem.Value == selectedValue)
                                        {
                                            <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                        }
                                        else
                                        {
                                            <option value="@selectItem.Value">@selectItem.Title</option>
                                        }
                                    }
                                </select>
                            }
                            else if (type == typeof(System.UInt64))
                            {
                                <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeUInt64(e, column)">
                                    <option value="">@Strings.SelectItem</option>
                                    @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                    {
                                        if (selectItem.Value == selectedValue)
                                        {
                                            <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                        }
                                        else
                                        {
                                            <option value="@selectItem.Value">@selectItem.Title</option>
                                        }
                                    }
                                </select>
                            }
                            else if (type == typeof(System.UInt32))
                            {
                                <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeUInt32(e, column)">
                                    <option value="">@Strings.SelectItem</option>
                                    @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                    {
                                        if (selectItem.Value == selectedValue)
                                        {
                                            <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                        }
                                        else
                                        {
                                            <option value="@selectItem.Value">@selectItem.Title</option>
                                        }
                                    }
                                </select>
                            }
                            else if (type == typeof(System.UInt16))
                            {
                                <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeUInt16(e, column)">
                                    <option value="">@Strings.SelectItem</option>
                                    @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                    {
                                        if (selectItem.Value == selectedValue)
                                        {
                                            <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                        }
                                        else
                                        {
                                            <option value="@selectItem.Value">@selectItem.Title</option>
                                        }
                                    }
                                </select>
                            }
                            else if (type == typeof(bool))
                            {
                                if (value != null && (bool)value == true)
                                {
                                    <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeBool(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                        {
                                            if (selectItem.Value == selectedValue)
                                            {
                                                <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@selectItem.Value">@selectItem.Title</option>
                                            }
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeBool(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                        {
                                            if (selectItem.Value == selectedValue)
                                            {
                                                <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@selectItem.Value">@selectItem.Title</option>
                                            }
                                        }
                                    </select>
                                }
                            }
                            else if (type == typeof(System.Guid))
                            {
                                <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeGuid(e, column)">
                                    <option value="">@Strings.SelectItem</option>
                                    @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                    {
                                        if (selectItem.Value == selectedValue)
                                        {
                                            <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                        }
                                        else
                                        {
                                            <option value="@selectItem.Value">@selectItem.Title</option>
                                        }
                                    }
                                </select>
                            }
                        }
                        else
                        {
                            if (column.IsPrimaryKey && column.IsAutoGeneratedKey)
                            {
                                <input id="@column.FieldName" name="@column.FieldName" class="form-control" readonly="readonly" value="@column.GetFormatedValue(value)" />
                            }
                            else if (type == typeof(string))
                            {
                                if (((IGridColumn<T>)column).InputType == InputType.TextArea)
                                {
                                    <textarea id="@column.FieldName" name="@column.FieldName" class="form-control" rows="5" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeString(e, column)" />
                                }
                                else
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeString(e, column)" />
                                }
                            }
                            else if (type == typeof(DateTime))
                            {
                                string typeAttr = ((IGridColumn<T>)column).InputType == InputType.None ? "date" : ((IGridColumn<T>)column).InputType.ToTypeAttr();
                                if (typeAttr == "week")
                                {
                                    if (GridComponent._isWeekSupported)
                                    {
                                        <input id="@column.FieldName" name="@column.FieldName" type="@typeAttr" placeholder="yyyy-Www" class="form-control" value="@(((GridColumnBase<T>)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeDateTime(e, column, typeAttr)" />
                                    }
                                    else
                                    {
                                        <input id="@column.FieldName" name="@column.FieldName" type="text" placeholder="yyyy-Www" class="form-control" value="@(((GridColumnBase<T>)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeDateTime(e, column, typeAttr)" />
                                    }
                                }
                                else if (typeAttr == "month")
                                {
                                    if (GridComponent._isMonthSupported)
                                    {
                                        <input id="@column.FieldName" name="@column.FieldName" type="@typeAttr" placeholder="yyyy-mm" class="form-control" value="@(((GridColumnBase<T>)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeDateTime(e, column, typeAttr)" />
                                    }
                                    else
                                    {
                                        <input id="@column.FieldName" name="@column.FieldName" type="text" placeholder="yyyy-mm" class="form-control" value="@(((GridColumnBase<T>)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeDateTime(e, column, typeAttr)" />
                                    }
                                }
                                else if (typeAttr == "datetime-local")
                                {
                                    if (GridComponent._isDateTimeLocalSupported)
                                    {
                                        <input id="@column.FieldName" name="@column.FieldName" type="@typeAttr" placeholder="yyyy-mm-dd hh:mm" class="form-control" value="@(((GridColumnBase<T>)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeDateTime(e, column, typeAttr)" />
                                    }
                                    else
                                    {
                                        <input id="@column.FieldName" name="@column.FieldName" type="text" placeholder="yyyy-mm-dd hh:mm" class="form-control" value="@(((GridColumnBase<T>)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeDateTime(e, column, typeAttr)" />
                                    }
                                }
                                else
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" type="@typeAttr" class="form-control" value="@(((GridColumnBase<T>)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeDateTime(e, column, typeAttr)" />
                                }
                            }
                            else if (type == typeof(System.DateTimeOffset))
                            {
                                string typeAttr = ((IGridColumn<T>)column).InputType == InputType.None ? "date" : ((IGridColumn<T>)column).InputType.ToTypeAttr();
                                if (typeAttr == "week")
                                {
                                    if (GridComponent._isWeekSupported)
                                    {
                                        <input id="@column.FieldName" name="@column.FieldName" type="@typeAttr" class="form-control" value="@(((GridColumnBase<T>)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeDateTimeOffset(e, column, typeAttr)" />
                                    }
                                    else
                                    {
                                        <input id="@column.FieldName" name="@column.FieldName" type="text" class="form-control" value="@(((GridColumnBase<T>)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeDateTimeOffset(e, column, typeAttr)" />
                                    }
                                }
                                else if (typeAttr == "month")
                                {
                                    if (GridComponent._isMonthSupported)
                                    {
                                        <input id="@column.FieldName" name="@column.FieldName" type="@typeAttr" class="form-control" value="@(((GridColumnBase<T>)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeDateTimeOffset(e, column, typeAttr)" />
                                    }
                                    else
                                    {
                                        <input id="@column.FieldName" name="@column.FieldName" type="text" class="form-control" value="@(((GridColumnBase<T>)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeDateTimeOffset(e, column, typeAttr)" />
                                    }
                                }
                                else if (typeAttr == "datetime-local")
                                {
                                    if (GridComponent._isDateTimeLocalSupported)
                                    {
                                        <input id="@column.FieldName" name="@column.FieldName" type="@typeAttr" class="form-control" value="@(((GridColumnBase<T>)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeDateTimeOffset(e, column, typeAttr)" />
                                    }
                                    else
                                    {
                                        <input id="@column.FieldName" name="@column.FieldName" type="text" class="form-control" value="@(((GridColumnBase<T>)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeDateTimeOffset(e, column, typeAttr)" />
                                    }
                                }
                                else
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" type="@typeAttr" class="form-control" value="@(((GridColumnBase<T>)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeDateTimeOffset(e, column, typeAttr)" />
                                }
                            }
                            else if (type == typeof(System.TimeSpan))
                            {
                                string typeAttr = ((IGridColumn<T>)column).InputType == InputType.None ? "time" : ((IGridColumn<T>)column).InputType.ToTypeAttr();
                                <input id="@column.FieldName" name="@column.FieldName" type="@typeAttr" class="form-control" value="@(((GridColumnBase<T>)column).GetFormatedDateTime(value, typeAttr))" @onchange="(e) => ChangeTimeSpan(e, column)" />
                            }
                            else if (type == typeof(System.Int32))
                            {
                                <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeInt32(e, column)" />
                            }
                            else if (type == typeof(System.Double))
                            {
                                <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeDouble(e, column)" />
                            }
                            else if (type == typeof(System.Decimal))
                            {
                                <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeDecimal(e, column)" />
                            }
                            else if (type == typeof(System.Byte))
                            {
                                <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeByte(e, column)" />
                            }
                            else if (type == typeof(System.Single))
                            {
                                <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeSingle(e, column)" />
                            }
                            else if (type == typeof(System.Int64))
                            {
                                <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeInt64(e, column)" />
                            }
                            else if (type == typeof(System.Int16))
                            {
                                <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeInt16(e, column)" />
                            }
                            else if (type == typeof(System.UInt64))
                            {
                                <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeUInt64(e, column)" />
                            }
                            else if (type == typeof(System.UInt32))
                            {
                                <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeUInt32(e, column)" />
                            }
                            else if (type == typeof(System.UInt16))
                            {
                                <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeUInt16(e, column)" />
                            }
                            else if (type == typeof(bool))
                            {
                                if (value != null && (bool)value == true)
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" type="checkbox" class="form-control" checked="checked" value="true" @onchange="(e) => ChangeBool(e, column)" />
                                }
                                else
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" type="checkbox" class="form-control" value="false" @onchange="(e) => ChangeBool(e, column)" />
                                }
                            }
                            else if (type == typeof(System.Guid))
                            {
                                <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeGuid(e, column)" />
                            }
                            else
                            {
                                <input id="@column.FieldName" name="@column.FieldName" class="form-control" readonly="readonly" value="@column.GetFormatedValue(value)" />
                            }
                        }
                    </div>
                </div>
            }
            else if (column.CreateComponentType != null && string.IsNullOrWhiteSpace(column.TabGroup))
            {
                <div class="form-group row" style="@(column.CrudHidden.HasFlag(CrudHidden.CREATE) ? "display:none;" : "")">
                    <label for="@column.FieldName" class="col-form-label col-md-2">@column.Title</label>
                    <div class="col-md-10">
                        <div class="card panel panel-default">
                            <div class="card-body panel-body">@_renderFragments.Get(column.Name)</div>
                        </div>
                    </div>
                </div>
            }
        }

        @if (_tabGroups != null)
        {
            foreach (var tabGruop in _tabGroups)
            {
                var tabLabels = GridComponent.Grid.Columns
                    .Where(r => r.TabGroup != null && r.TabGroup.Equals(tabGruop) && _renderFragments.Keys.Any(s => s.Equals(r.Name)))
                    .Select(r => new SelectItem(r.Name, r.Title));
                <div class="form-group row">
                    <div class="col-md-offset-2 offset-md-2 col-md-10">
                        <div class="card panel panel-default">
                            <div class="card-body panel-body">
                                <GridTabComponent TabLabels="@tabLabels" TabContent="@_renderFragments" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        <div class="form-group row">
            <div class="col-md-5">
                <button type="submit" class="btn btn-primary btn-md">@Strings.Save</button>
                <button type="button" class="btn btn-primary btn-md" @onclick="() => BackButtonClicked()">@Strings.Back</button>
            </div>
        </div>
    </div>
</EditForm>
