@using GridBlazor.Columns
@using GridBlazor.Resources
@using GridShared.Columns

@typeparam T

<h1>@Strings.Edit</h1>

<EditForm Model="@Item" OnValidSubmit="@UpdateItem">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p id="error" style="color:red;">@Error</p>
    <div class="form-horizontal">
        @foreach (var column in GridComponent.Grid.Columns)
        {
            (Type type, object value) = ((IGridColumn<T>)column).GetTypeAndValue(Item);
            <div class="form-group row" style="@(column.CrudHidden && !column.ReadOnlyOnUpdate?"display:none;":"")">
                <label for="@column.FieldName" class="col-form-label col-md-2">@column.Title</label>
                @if (((ICGridColumn)column).SubGrids == null)
                {
                    <div class="@(type == typeof(bool)?"col-md-1":"col-md-5")">
                        @if (column.IsPrimaryKey)
                        {
                            <input id="@column.FieldName" name="@column.FieldName" class="form-control" readonly="readonly" value="@column.GetFormatedValue(value)" />
                        }
                        else if (((IGridColumn<T>)column).IsSelectField.IsSelectKey)
                        {
                            if (column.ReadOnlyOnUpdate)
                            {
                                string text = ((GridColumnBase<T>)column).GetFormatedValue(((IGridColumn<T>)column).IsSelectField.Expression, Item);
                                <input id="@column.FieldName" name="@column.FieldName" class="form-control" readonly="readonly" value="@text" />
                            }
                            else
                            {
                                var selectedValue = column.GetFormatedValue(value);
                                if (type == typeof(string))
                                {
                                    <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeString(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                        {
                                            if (selectItem.Value == selectedValue)
                                            {
                                                <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@selectItem.Value">@selectItem.Title</option>
                                            }
                                        }
                                    </select>
                                }
                                else if (type == typeof(DateTime))
                                {
                                    <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeDateTime(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                        {
                                            if (selectItem.Value == selectedValue)
                                            {
                                                <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@selectItem.Value">@selectItem.Title</option>
                                            }
                                        }
                                    </select>
                                }
                                else if (type == typeof(System.DateTimeOffset))
                                {
                                    <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeDateTimeOffset(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                        {
                                            if (selectItem.Value == selectedValue)
                                            {
                                                <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@selectItem.Value">@selectItem.Title</option>
                                            }
                                        }
                                    </select>
                                }
                                else if (type == typeof(System.TimeSpan))
                                {
                                    <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeTimeSpan(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                        {
                                            if (selectItem.Value == selectedValue)
                                            {
                                                <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@selectItem.Value">@selectItem.Title</option>
                                            }
                                        }
                                    </select>
                                }
                                else if (type == typeof(System.Int32))
                                {
                                    <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeInt32(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                        {
                                            if (selectItem.Value == selectedValue)
                                            {
                                                <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@selectItem.Value">@selectItem.Title</option>
                                            }
                                        }
                                    </select>
                                }
                                else if (type == typeof(System.Double))
                                {
                                    <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeDouble(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                        {
                                            if (selectItem.Value == selectedValue)
                                            {
                                                <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@selectItem.Value">@selectItem.Title</option>
                                            }
                                        }
                                    </select>
                                }
                                else if (type == typeof(System.Decimal))
                                {
                                    <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeDecimal(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                        {
                                            if (selectItem.Value == selectedValue)
                                            {
                                                <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@selectItem.Value">@selectItem.Title</option>
                                            }
                                        }
                                    </select>
                                }
                                else if (type == typeof(System.Byte))
                                {
                                    <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeByte(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                        {
                                            if (selectItem.Value == selectedValue)
                                            {
                                                <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@selectItem.Value">@selectItem.Title</option>
                                            }
                                        }
                                    </select>
                                }
                                else if (type == typeof(System.Single))
                                {
                                    <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeSingle(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                        {
                                            if (selectItem.Value == selectedValue)
                                            {
                                                <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@selectItem.Value">@selectItem.Title</option>
                                            }
                                        }
                                    </select>
                                }
                                else if (type == typeof(System.Int64))
                                {
                                    <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeInt64(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                        {
                                            if (selectItem.Value == selectedValue)
                                            {
                                                <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@selectItem.Value">@selectItem.Title</option>
                                            }
                                        }
                                    </select>
                                }
                                else if (type == typeof(System.Int16))
                                {
                                    <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeInt16(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                        {
                                            if (selectItem.Value == selectedValue)
                                            {
                                                <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@selectItem.Value">@selectItem.Title</option>
                                            }
                                        }
                                    </select>
                                }
                                else if (type == typeof(System.UInt64))
                                {
                                    <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeUInt64(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                        {
                                            if (selectItem.Value == selectedValue)
                                            {
                                                <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@selectItem.Value">@selectItem.Title</option>
                                            }
                                        }
                                    </select>
                                }
                                else if (type == typeof(System.UInt32))
                                {
                                    <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeUInt32(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                        {
                                            if (selectItem.Value == selectedValue)
                                            {
                                                <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@selectItem.Value">@selectItem.Title</option>
                                            }
                                        }
                                    </select>
                                }
                                else if (type == typeof(System.UInt16))
                                {
                                    <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeUInt16(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                        {
                                            if (selectItem.Value == selectedValue)
                                            {
                                                <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@selectItem.Value">@selectItem.Title</option>
                                            }
                                        }
                                    </select>
                                }
                                else if (type == typeof(bool))
                                {
                                    if (value != null && (bool)value == true)
                                    {
                                        <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeBool(e, column)">
                                            <option value="">@Strings.SelectItem</option>
                                            @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                            {
                                                if (selectItem.Value == selectedValue)
                                                {
                                                    <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                                }
                                                else
                                                {
                                                    <option value="@selectItem.Value">@selectItem.Title</option>
                                                }
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeBool(e, column)">
                                            <option value="">@Strings.SelectItem</option>
                                            @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                            {
                                                if (selectItem.Value == selectedValue)
                                                {
                                                    <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                                }
                                                else
                                                {
                                                    <option value="@selectItem.Value">@selectItem.Title</option>
                                                }
                                            }
                                        </select>
                                    }
                                }
                                else if (type == typeof(System.Guid))
                                {
                                    <select id="@column.FieldName" name="@column.FieldName" class="form-control" value="@selectedValue" @onchange="(e) => ChangeGuid(e, column)">
                                        <option value="">@Strings.SelectItem</option>
                                        @foreach (var selectItem in ((IGridColumn<T>)column).SelectItems)
                                        {
                                            if (selectItem.Value == selectedValue)
                                            {
                                                <option value="@selectItem.Value" selected="selected">@selectItem.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@selectItem.Value">@selectItem.Title</option>
                                            }
                                        }
                                    </select>
                                }
                            }
                        }
                        else
                        {
                            if (column.ReadOnlyOnUpdate)
                            {
                                if (type == typeof(bool))
                                {
                                    if (value != null && (bool)value == true)
                                    {
                                        <input id="@column.FieldName" name="@column.FieldName" type="checkbox" class="form-control" disabled="disabled" readonly="readonly" checked="checked" value="true" />
                                    }
                                    else
                                    {
                                        <input id="@column.FieldName" name="@column.FieldName" type="checkbox" class="form-control" disabled="disabled" readonly="readonly" value="false" />
                                    }
                                }
                                else
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" class="form-control" readonly="readonly" value="@column.GetFormatedValue(value)" />
                                }
                            }
                            else
                            {
                                if (type == typeof(string))
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeString(e, column)" />
                                }
                                else if (type == typeof(DateTime))
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" type="date" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeDateTime(e, column)" />
                                }
                                else if (type == typeof(System.DateTimeOffset))
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" type="date" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeDateTimeOffset(e, column)" />
                                }
                                else if (type == typeof(System.TimeSpan))
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" type="time" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeTimeSpan(e, column)" />
                                }
                                else if (type == typeof(System.Int32))
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeInt32(e, column)" />
                                }
                                else if (type == typeof(System.Double))
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeDouble(e, column)" />
                                }
                                else if (type == typeof(System.Decimal))
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeDecimal(e, column)" />
                                }
                                else if (type == typeof(System.Byte))
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeByte(e, column)" />
                                }
                                else if (type == typeof(System.Single))
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeSingle(e, column)" />
                                }
                                else if (type == typeof(System.Int64))
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeInt64(e, column)" />
                                }
                                else if (type == typeof(System.Int16))
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeInt16(e, column)" />
                                }
                                else if (type == typeof(System.UInt64))
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeUInt64(e, column)" />
                                }
                                else if (type == typeof(System.UInt32))
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeUInt32(e, column)" />
                                }
                                else if (type == typeof(System.UInt16))
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeUInt16(e, column)" />
                                }
                                else if (type == typeof(bool))
                                {
                                    if (value != null && (bool)value == true)
                                    {
                                        <input id="@column.FieldName" name="@column.FieldName" type="checkbox" class="form-control" checked="checked" value="true" @onchange="(e) => ChangeBool(e, column)" />
                                    }
                                    else
                                    {
                                        <input id="@column.FieldName" name="@column.FieldName" type="checkbox" class="form-control" value="false" @onchange="(e) => ChangeBool(e, column)" />
                                    }
                                }
                                else if (type == typeof(System.Guid))
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" class="form-control" value="@column.GetFormatedValue(value)" @onchange="(e) => ChangeGuid(e, column)" />
                                }
                                else
                                {
                                    <input id="@column.FieldName" name="@column.FieldName" class="form-control" readonly="readonly" value="@column.GetFormatedValue(value)" />
                                }
                            }
                        }
                    </div>
                }
                else
                {
                    <div class="col-md-10">@_grids.Get(column.Name)</div>
                }
            </div>
        }

        <div class="form-group row">
            <div class="col-md-5">
                <button type="submit" class="btn btn-primary btn-md">@Strings.Save</button>
                <button type="button" class="btn btn-primary btn-md" @onclick="() => BackButtonClicked()">@Strings.Back</button>
            </div>
        </div>
    </div>
</EditForm>
