@using GridBlazor.Columns
@using GridBlazor.Resources
@using GridShared
@using GridShared.Columns

@typeparam T

<div class="@GridComponent.GridCrudHeaderCssClass">@(string.IsNullOrWhiteSpace(GridComponent.Grid.DeleteFormLabel) ? Strings.Delete : GridComponent.Grid.DeleteFormLabel)</div>

<p id="error" class="@GridComponent.GridErrorCssClass">@Error</p>
<div class="form-horizontal">
    @foreach (var column in GridComponent.Grid.Columns)
    {
        if (((ICGridColumn)column).SubGrids == null && column.ComponentType == null
            && column.CreateComponentType == null && column.ReadComponentType == null
            && column.UpdateComponentType == null && column.DeleteComponentType == null)
        {
            if (column.FieldName == null)
            {
                continue;
            }

            (Type type, object value) = ((IGridColumn<T>)column).GetTypeAndValue(Item);
            if (type == null)
            {
                continue;
            }
            <div class="form-group row" style="@(((IGridColumn<T>)column).CrudHidden(Item).HasFlag(CrudHidden.DELETE)?"display:none;":"")">
                @if (!string.IsNullOrWhiteSpace(column.TooltipValue))
                {
                    <div class="col-md-@column.CrudLabelWidth.ToString()">
                        <FormTooltipComponent T="@T" Column="@column"></FormTooltipComponent>
                    </div>
                }
                else
                {
                    <label for="@column.FieldName" class="col-form-label col-md-@column.CrudLabelWidth.ToString()">@column.Title</label>
                }
                <div class="@(type == typeof(bool) && !column.ToggleSwitch ? "col-md-1" : "col-md-" + column.CrudWidth.ToString())">
                    @if (((IGridColumn<T>)column).IsSelectField.IsSelectKey)
                    {
                        string text = ((IGridColumn<T>)column).GetFormatedValue(((IGridColumn<T>)column).IsSelectField.Expression, Item);
                        <input id="@column.FieldName" class="form-control" readonly="readonly" value="@text" />
                    }
                    else if (((IGridColumn<T>)column).IsSelectColumn.IsSelectKey)
                    {
                        string text = ((IGridColumn<T>)column).GetFormatedValue(((IGridColumn<T>)column).IsSelectColumn.Expression, Item);
                        <input id="@column.FieldName" class="form-control" readonly="readonly" value="@text" />
                    }
                    else if (type == typeof(bool))
                    {
                        if (value != null && (bool)value == true)
                        {
                            if (column.ToggleSwitch)
                            {
                                <label class="col-form-label">@column.FalseLabel</label>
                                <label class="grid-switch">
                                    <input id="@column.FieldName" type="checkbox" class="form-control" disabled="disabled" readonly="readonly" checked="checked" value="true" />
                                    <span class="grid-slider round"></span>
                                </label>
                                <label class="col-form-label">@column.TrueLabel</label>
                            }
                            else
                            {
                                <input id="@column.FieldName" type="checkbox" class="form-check" disabled="disabled" readonly="readonly" checked="checked" value="true" />
                            }
                        }
                        else
                        {
                            if (column.ToggleSwitch)
                            {
                                <label class="col-form-label">@column.FalseLabel</label>
                                <label class="grid-switch">
                                    <input id="@column.FieldName" type="checkbox" class="form-control" disabled="disabled" readonly="readonly" value="false" />
                                    <span class="grid-slider round"></span>
                                </label>
                                <label class="col-form-label">@column.TrueLabel</label>
                            }
                            else
                            {
                                <input id="@column.FieldName" type="checkbox" class="form-check" disabled="disabled" readonly="readonly" value="false" />
                            }
                        }
                    }
                    else if (type == typeof(string))
                    {
                        if (((IGridColumn<T>)column).InputType == InputType.TextArea)
                        {
                            <textarea id="@column.FieldName" class="form-control" rows="@column.TextAreaRows" readonly="readonly" value="@column.GetFormatedValue(value)" />
                        }
                        else
                        {
                            <input id="@column.FieldName" class="form-control" readonly="readonly" value="@column.GetFormatedValue(value)" />
                        }
                    }
                    else if (type == typeof(string) && ((IGridColumn<T>)column).InputType == InputType.File)
                    {
                        <input id="@column.FieldName" name="@column.FieldName" type="file" class="form-control" readonly="readonly" value="@column.GetFormatedValue(value)" />
                    }
                    else if (type == typeof(DateTime))
                    {
                        string typeAttr = ((IGridColumn<T>)column).InputType == InputType.None ? "date" : ((IGridColumn<T>)column).InputType.ToTypeAttr();
                        <input id="@column.FieldName" type="@typeAttr" class="form-control" readonly="readonly" value="@(((ICGridColumn)column).GetFormatedDateTime(value, typeAttr))" />
                    }
                    else if (type == typeof(DateTimeOffset))
                    {
                        string typeAttr = ((IGridColumn<T>)column).InputType == InputType.None ? "date" : ((IGridColumn<T>)column).InputType.ToTypeAttr();
                        <input id="@column.FieldName" type="@typeAttr" class="form-control" readonly="readonly" value="@(((ICGridColumn)column).GetFormatedDateTime(value, typeAttr))" />
                    }
                    else if (type == typeof(TimeSpan))
                    {
                        string typeAttr = ((IGridColumn<T>)column).InputType == InputType.None ? "time" : ((IGridColumn<T>)column).InputType.ToTypeAttr();
                        <input id="@column.FieldName" type="@typeAttr" class="form-control" readonly="readonly" value="@(((ICGridColumn)column).GetFormatedDateTime(value, typeAttr))" />
                    }
                    else
                    {
                        <input id="@column.FieldName" class="form-control" readonly="readonly" value="@column.GetFormatedValue(value)" />
                    }
                </div>
            </div>
        }
        else if ((((ICGridColumn)column).SubGrids != null || column.DeleteComponentType != null)
            && string.IsNullOrWhiteSpace(column.TabGroup))
        {
            <div class="form-group row" style="@(((IGridColumn<T>)column).CrudHidden(Item).HasFlag(CrudHidden.DELETE)?"display:none;":"")">
                @if (!string.IsNullOrWhiteSpace(column.TooltipValue))
                {
                    <div class="col-md-@column.CrudLabelWidth.ToString()">
                        <FormTooltipComponent T="@T" Column="@column"></FormTooltipComponent>
                    </div>
                }
                else
                {
                    <label class="col-form-label col-md-@column.CrudLabelWidth.ToString()">@column.Title</label>
                }
                @if (column.EnableCard)
                {
                    <div class="col-md-@((12 - column.CrudLabelWidth).ToString())">
                        <div class="card panel panel-default">
                            <div class="card-body panel-body">@_renderFragments.Get(column.Name)</div>
                        </div>
                     </div>
                 }
                 else
                 {
                    <div class="col-md-@(column.CrudWidth.ToString())">
                        @_renderFragments.Get(column.Name)
                    </div>
                 }
            </div>
        }
    }

    @if (_tabGroups != null)
    {
        foreach (var tabGruop in _tabGroups)
        {
            var columns = GridComponent.Grid.Columns
                    .Where(r => r.TabGroup != null && r.TabGroup.Equals(tabGruop) && _renderFragments.Keys.Any(s => s.Equals(r.Name)));
            var tabLabels = columns.Select(r => new SelectItem(r.Name, r.Title));
            var column = columns.FirstOrDefault();
            <div class="form-group row">
                <div class="col-md-offset-@(column.CrudLabelWidth.ToString()) offset-md-@(column.CrudLabelWidth.ToString()) col-md-@((12 - column.CrudLabelWidth).ToString())">
                    <div class="card panel panel-default">
                        <div class="card-body panel-body">
                            <GridTabComponent TabLabels="@tabLabels" TabContent="@_renderFragments" />
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    @if (GridComponent.Grid.DeleteConfirmation)
    {
        <div class="form-group row">
            <label class="col-form-label col-md-@GridComponent.Grid.DeleteConfirmationLabelWidth.ToString()">@Strings.Code</label>
            <div class="col-md-@GridComponent.Grid.DeleteConfirmationWidth.ToString()">
                <input class="form-control" id="code" name="code" readonly="readonly" type="text" @bind="_code">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-md-@GridComponent.Grid.DeleteConfirmationLabelWidth.ToString()">@Strings.Confirm_Code</label>
            <div class="col-md-@GridComponent.Grid.DeleteConfirmationWidth.ToString()">
                <input class="form-control" id="confirm_code" name="confirm_code" type="text" @bind="_confirmationCode">
            </div>
        </div>
    }

    <div style="display:flex;">
        <div>
            <CascadingValue Value=@this Name="GridDeleteComponent">
                <GridDeleteButtonsComponent @ref="GridDeleteButtonsComponent" T="@T"></GridDeleteButtonsComponent>
            </CascadingValue>
            @if (((CGrid<T>)GridComponent.Grid).ButtonCrudComponents != null && ((CGrid<T>)GridComponent.Grid).ButtonCrudComponents.Count() > 0)
            {
                @foreach (var key in ((CGrid<T>)GridComponent.Grid).ButtonCrudComponents.Keys)
                {
                    var buttonCrudComponent = ((CGrid<T>)GridComponent.Grid).ButtonCrudComponents.Get(key);
                    if (_buttonCrudComponentVisibility.Get(key))
                    {
                        if (buttonCrudComponent.Content.HasValue)
                        {
                            <button class="btn btn-primary btn-md" type="button" title="@buttonCrudComponent.Label" @onclick="() => GridComponent.ButtonCrudComponentHandler(key)" @onclick:stopPropagation>@buttonCrudComponent.Content.Value</button>
                        }
                        else
                        {
                            <button class="btn btn-primary btn-md" type="button" title="@buttonCrudComponent.Label" @onclick="() => GridComponent.ButtonCrudComponentHandler(key)" @onclick:stopPropagation>@buttonCrudComponent.Label</button>
                        }
                    }
                }
            }
        </div>
    </div>
</div>
