@using GridShared
@using GridShared.Columns
@using Microsoft.AspNetCore.Html
@model Tuple<IGridColumn, object>

@{
    const string TdClass = "grid-cell";
    const string TdStyle = "display:none;";

    IGridColumn column = Model.Item1;
    object item = Model.Item2;

    string _cssStyles;
    if (column.Hidden)
    {
        _cssStyles = ((GridStyledColumn)column).GetCssStylesString() + " " + TdStyle;
    }
    else
    {
        _cssStyles = ((GridStyledColumn)column).GetCssStylesString();
    }

    if (column.ParentGrid.Direction == GridDirection.RTL)
        _cssStyles = string.Concat(_cssStyles, " text-align:right;direction:rtl;").Trim();

    string _cssClass = ((GridStyledColumn)column).GetCssClassesString() + " " + TdClass;
    string columnCssClasses = column.GetCellCssClasses(item);
    if (!string.IsNullOrWhiteSpace(columnCssClasses))
    {
        _cssClass += " " + columnCssClasses;
    }
}

@if (column.ComponentType != null)
{
    object model = new {
        Item = item,
        Grid = column.ParentGrid,
        Actions = column.Actions,
        Functions = column.Functions,
        Object = column.Object
    };
    <td class="@_cssClass" style="@_cssStyles" data-name="@column.Name">@await Component.InvokeAsync(column.ComponentType, model)</td>
}
else
{
    IGridCell _cell = column.GetCell(item);
    <td class="@_cssClass" style="@_cssStyles" data-name="@column.Name">@(new HtmlString(_cell.ToString()))</td>
}
