@using GridMvc.Resources
@using GridShared
@using GridShared.Columns
@model GridMvc.ISGrid

@if (Model == null) { return; }

@{
    var firstColumn = (ITotalsColumn)Model.Columns.FirstOrDefault();
    bool hasSubGrid = Model.SubGridKeys != null && Model.SubGridKeys.Length > 0;
    bool requiredTotalsColumn = firstColumn != null
              && (firstColumn.IsSumEnabled || firstColumn.IsAverageEnabled
                  || firstColumn.IsMaxEnabled || firstColumn.IsMinEnabled);
    string cssStyles = "";
    if (Model.Direction == GridDirection.RTL)
        cssStyles = string.Concat(cssStyles, " text-align:right;direction:rtl;").Trim();
}

@if (Model.RenderOptions.RenderRowsOnly)
{
    return;
}
else
{
    <tr class="grid-row"><td class="grid-cell" style="height:25px;border:none;background-color:white"></td></tr>
    if (Model.IsSumEnabled)
    {
        <tr class="grid-totals-row">
            @if (hasSubGrid)
            {
                <td class="grid-cell" data-name=""></td>
            }
            @if (requiredTotalsColumn)
            {
                <td class="grid-cell" style="@cssStyles"><b>@Strings.Sum</b></td>
            }
            @for (int i = 0; i < Model.Columns.Count(); i++)
            {
                var column = (ITotalsColumn)Model.Columns.ElementAt(i);
                if (i == 0 && !column.IsSumEnabled && !column.IsAverageEnabled
                   && !column.IsMaxEnabled && !column.IsMinEnabled)
                {
                    <td class="grid-cell" style="@cssStyles"><b>@Strings.Sum</b></td>
                }
                else
                {
                    if (column.IsSumEnabled)
                    {
                        <td class="grid-cell" style="@cssStyles"><b>@column.SumString</b></td>
                    }
                    else
                    {
                        if (((IGridColumn)column).Hidden)
                        {
                            <td class="grid-cell" style="display:none;"></td>
                        }
                        else
                        {
                            <td class="grid-cell" style="@cssStyles"></td>
                        }
                    }
                }

            }
        </tr>
    }
    if (Model.IsAverageEnabled)
    {
        <tr class="grid-totals-row">
            @if (hasSubGrid)
            {
                <td class="grid-cell" data-name=""></td>
            }
            @if (requiredTotalsColumn)
            {
                <td class="grid-cell" style="@cssStyles"><b>@Strings.Average</b></td>
            }
            @for (int i = 0; i < Model.Columns.Count(); i++)
            {
                var column = (ITotalsColumn)Model.Columns.ElementAt(i);
                if (i == 0 && !column.IsSumEnabled && !column.IsAverageEnabled
                   && !column.IsMaxEnabled && !column.IsMinEnabled)
                {
                    <td class="grid-cell" style="@cssStyles"><b>@Strings.Average</b></td>
                }
                else
                {
                    if (column.IsAverageEnabled)
                    {
                        <td class="grid-cell" style="@cssStyles"><b>@column.AverageString</b></td>
                    }
                    else
                    {
                        if (((IGridColumn)column).Hidden)
                        {
                            <td class="grid-cell" style="display:none;"></td>
                        }
                        else
                        {
                            <td class="grid-cell" style="@cssStyles"></td>
                        }
                    }
                }
            }
        </tr>
    }
    if (Model.IsMaxEnabled)
    {
        <tr class="grid-totals-row">
            @if (hasSubGrid)
            {
                <td class="grid-cell" data-name=""></td>
            }
            @if (requiredTotalsColumn)
            {
                <td class="grid-cell" style="@cssStyles"><b>@Strings.Max</b></td>
            }
            @for (int i = 0; i < Model.Columns.Count(); i++)
            {
                var column = (ITotalsColumn)Model.Columns.ElementAt(i);
                if (i == 0 && !column.IsSumEnabled && !column.IsAverageEnabled
                   && !column.IsMaxEnabled && !column.IsMinEnabled)
                {
                    <td class="grid-cell" style="@cssStyles"><b>@Strings.Max</b></td>
                }
                else
                {
                    if (column.IsMaxEnabled)
                    {
                        <td class="grid-cell" style="@cssStyles"><b>@column.MaxString</b></td>
                    }
                    else
                    {
                        if (((IGridColumn)column).Hidden)
                        {
                            <td class="grid-cell" style="display:none;"></td>
                        }
                        else
                        {
                            <td class="grid-cell" style="@cssStyles"></td>
                        }
                    }
                }
            }
        </tr>
    }
    if (Model.IsMinEnabled)
    {
        <tr class="grid-totals-row">
            @if (hasSubGrid)
            {
                <td class="grid-cell" data-name=""></td>
            }
            @if (requiredTotalsColumn)
            {
                <td class="grid-cell" style="@cssStyles"><b>@Strings.Min</b></td>
            }
            @for (int i = 0; i < Model.Columns.Count(); i++)
            {
                var column = (ITotalsColumn)Model.Columns.ElementAt(i);
                if (i == 0 && !column.IsSumEnabled && !column.IsAverageEnabled
                   && !column.IsMaxEnabled && !column.IsMinEnabled)
                {
                    <td class="grid-cell" style="@cssStyles"><b>@Strings.Min</b></td>
                }
                else
                {
                    if (column.IsMinEnabled)
                    {
                        <td class="grid-cell" style="@cssStyles"><b>@column.MinString</b></td>
                    }
                    else
                    {
                        if (((IGridColumn)column).Hidden)
                        {
                            <td class="grid-cell" style="display:none;"></td>
                        }
                        else
                        {
                            <td class="grid-cell" style="@cssStyles"></td>
                        }
                    }
                }
            }
        </tr>
    }
}
