@using GridBlazor.Resources

@typeparam T
@inherits BooleanFilterComponentBase<T>

@if (visible)
{
    <div class="dropdown dropdown-menu grid-dropdown opened" style="display:block;">
        <div class="grid-dropdown-arrow"></div>
        <div class="grid-dropdown-inner">
            <div class="grid-popup-widget">
                <label><b>@Strings.FilterValueLabel:</b></label>
                <ul class="menu-list">
                    <li>
                        <a class="grid-filter-choose@(filterValue != null && filterValue.ToLower() == "true" ? " choose-selected" : "")" data-value="true" href="javascript:void(0);" onclick="@ApplyTrueButtonClicked">
                            @Strings.BoolTrueLabel
                        </a>
                    </li>
                    <li>
                        <a class="grid-filter-choose@(filterValue != null && filterValue.ToLower() == "false" ? " choose-selected" : "")" data-value="false" href="javascript:void(0);" onclick="@ApplyFalseButtonClicked">
                            @Strings.BoolFalseLabel
                        </a>
                    </li>
                </ul>
            </div>
            <div class="grid-popup-additional">
                @if(_clearVisible)
                {
                    <ul class="menu-list">
                        <li>
                            <a class="grid-filter-clear" href="javascript:void(0);" onclick="@ClearButtonClicked">
                                @Strings.ClearFilterLabel
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
}
