@using GridBlazor.Resources
@using Microsoft.JSInterop

@typeparam T
@inherits GridHiddenHeaderComponentBase<T>

<th class="@_cssClass" style="@_cssStyles">
    @if (Column.FilterEnabled)
    {
    <div class="grid-filter" data-type="@Column.FilterWidgetTypeName" data-name="@Column.Name" data-widgetdata="@Json.Serialize(Column.FilterWidgetData)" data-filterdata="@Json.Serialize(_filterSettings)" data-url="@_url">
        <span class="@_cssFilterClass" title="@Strings.FilterButtonTooltipText" onclick="@FilterIconClicked"></span>
        @FilterWidgetRender
    </div>
    }
    <div class="@_cssSortingClass">
        @if (Column.SortEnabled)
        {
        <button onclick="@TitleButtonClicked">@Column.Title</button>
        }
        else
        {
        <span>@Column.Title</span>
        }
        @if (Column.IsSorted)
        {
        <span class="grid-sort-arrow"></span>
        }
    </div>
</th>



