@using GridBlazor.Resources
@using GridShared.Utility

@typeparam T
@inherits GridHeaderComponentBase<T>

<th class="@_cssClass" style="@_cssStyles">
    @if (Column.FilterEnabled)
    {
    <div class="grid-filter" data-type="@Column.FilterWidgetTypeName" data-name="@Column.Name" data-widgetdata="@JsonHelper.JsonSerializer(Column.FilterWidgetData)" data-filterdata="@JsonHelper.JsonSerializer(_filterSettings)" data-url="@_url" data-clearinitfilter="@_clearInitFilter.ToString()">
        <span class="@_cssFilterClass" title="@Strings.FilterButtonTooltipText" @onclick="FilterIconClicked"></span>
        @FilterWidgetRender
    </div>
    }
    <div class="@_cssSortingClass">
        @if (Column.SortEnabled)
        {
        <button @onclick="TitleButtonClicked">@Column.Title</button>
        }
        else
        {
        <span>@Column.Title</span>
        }
        @if (Column.IsSorted)
        {
        <span class="grid-sort-arrow"></span>
        }
    </div>
</th>


