@using GridBlazorClientSide.Shared.Models
@using GridShared.Columns
@implements ICustomGridComponent<Order>
@inject NavigationManager NavigationManager

<div style="display:inline-flex;margin-top:1rem;">
    <div>
        <button type="button" class="@Program.HtmlClass.ButtonSecondary" @onclick="Previous">&lt;</button>
    </div>
    <div style="text-align:center;">
        <div>
            <h5>@_images[i].Header</h5>
            <p>@_images[i].Caption</p>
        </div>
        <img src="@_images[i].Source" style="width:90%;" alt="@_images[i].Alt" />
    </div>
    <div>
        <button type="button" class="@Program.HtmlClass.ButtonSecondary" @onclick="Next">&gt;</button>
    </div>
</div>

@code {
    private IList<Image> _images;
    private int i = 0;


    [Parameter]
    public Order Item { get; set; }

    protected override void OnParametersSet()
    {
        _images = new List<Image>
        {
            new Image {
                Source = "images/bright-summer.jpg",
                Alt ="First Slide",
                Caption = "Slide 1",
                Header = "Customer: " + Item.Customer?.CompanyName

            },
            new Image {
               Source = "images/the-railroad-goes-into-the-distance.jpg",
               Alt ="Second Slide",
               Caption = "Slide 2",
               Header = "Shipper: " + Item.Shipper?.CompanyName
            },
            new Image {
               Source = "images/wald-herbst-baume-laub-1573340070HKJ.jpg",
               Alt ="Third Slide",
               Caption = "Slide 3",
               Header = "Employee: " + Item.Employee?.FirstName + " " + Item.Employee?.LastName
            }
        };
    }


    class Image
    {
        public string Source { get; set; }
        public string Alt { get; set; }
        public string Caption { get; set; }
        public string Header { get; set; }
    }

    private void Previous(MouseEventArgs e)
    {
        i--;
        if (i < 0) i = 2;
    }

    private void Next(MouseEventArgs e)
    {
        i++;
        if (i > 2) i = 0;
    }
}
