@using GridBlazor.Resources
@using GridBlazorClientSide.Client.ColumnCollections
@using GridBlazorClientSide.Shared.Models
@using Microsoft.Extensions.Primitives
@using System.Globalization
@using System.Threading.Tasks
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject ICrudDataService<Customer> customerService

<h3>Customers</h3>

@if (_task.IsCompleted)
{
    <div class="@Program.HtmlClass.Row">
        <div class="@(Program.HtmlClass.ColMd)12">
            <GridComponent T="Customer" Grid="@_grid"></GridComponent>
        </div>
    </div>

    @if (_grid.Mode == GridMode.Grid)
    {
        <div class="@Program.HtmlClass.Row">
            <div class="@(Program.HtmlClass.ColMd)5">
                <button type="button" class="@Program.HtmlClass.ButtonPrimary" @onclick="() => BackButtonClicked()">@Strings.Back</button>
            </div>
        </div>
    }
}
else
{
    <p><em>Loading...</em></p>
}

@code
{
    private CGrid<Customer> _grid;
    private Task _task;
    private GridMode _mode;

    [CascadingParameter(Name = "GridComponent")]
    protected GridComponent<Order> GridComponent { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var locale = CultureInfo.CurrentCulture;

        var query = new QueryDictionary<StringValues>();

        string url = NavigationManager.BaseUri + "api/SampleData/GetCustomersGrid";
        var client = new GridClient<Customer>(HttpClient, url, query, false, "customersGrid", ColumnCollections.CustomerColumns, locale)
            .Sortable()
            .Filterable()
            .SetStriped(true)
            .Crud(false, true, true, false, customerService)
            .WithMultipleFilters()
            .WithGridItemsCount()
            .AddToOnAfterRender(OnAfterGridRender);

        _grid = client.Grid;
        // Set new items to grid
        _task = client.UpdateGrid();
        await _task;
    }

    protected async Task OnAfterGridRender(GridComponent<Customer> gridComponent, bool firstRender)
    {
        if (gridComponent.Grid.Mode != _mode)
        {
            _mode = gridComponent.Grid.Mode;
            StateHasChanged();
        }
        await Task.CompletedTask;
    }

    protected async Task BackButtonClicked()
    {
        await GridComponent.Back();
    }
}
