@page "/editorder/{OrderId}/{ReturnUrl}/{GridState}"
@page "/editorder/{OrderId}/{ReturnUrl}/{GridState}/{AltGridState}"
@using GridBlazorClientSide.Shared.Models
@using System.Globalization
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Edit page</h1>

<p>
    This page allows order edit and returns to the correct calling page including grid states.
</p>

<p>
    This component demonstrates a GridBlazor client-side grid. For more documentation, please see: <a href="https://github.com/gustavnavar/Grid.Blazor">https://github.com/gustavnavar/Grid.Blazor</a>
</p>

@if (_order == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p id="error" style="color:red;">@_error</p>
    <div>
        <div class="@(Program.HtmlClass.FormGroupRow)">
            <label for="OrderID" class="@Program.HtmlClass.FormLabel @(Program.HtmlClass.ColMd)2">OrderID: </label>
            <div class="@Program.HtmlClass.FormDivInput @(Program.HtmlClass.ColMd)5">
                <input id="OrderID" name="OrderID" class="@Program.HtmlClass.FormInput" readonly disabled @bind="_order.OrderID" />
            </div>
        </div>

        <div class="@(Program.HtmlClass.FormGroupRow)">
            <label for="CompanyName" class="@Program.HtmlClass.FormLabel @(Program.HtmlClass.ColMd)2">Customer: </label>
            <div class="@Program.HtmlClass.FormDivInput @(Program.HtmlClass.ColMd)5">
                <input id="CompanyName" name="CompanyName" class="@Program.HtmlClass.FormInput" readonly disabled @bind="_order.Customer.CompanyName" />
            </div>
        </div>

        <div class="@(Program.HtmlClass.FormGroupRow)">
            <label for="OrderDate" class="@Program.HtmlClass.FormLabel @(Program.HtmlClass.ColMd)2">Order Date: </label>
            <div class="@Program.HtmlClass.FormDivInput @(Program.HtmlClass.ColMd)5">
                <input id="OrderDate" name="OrderDate" type="date" class="@Program.HtmlClass.FormInput" value="@ToDateString(_order.OrderDate)" @onchange="ChangeOrderDate" />
            </div>
        </div>

        <div class="@(Program.HtmlClass.FormGroupRow)">
            <label for="RequiredDate" class="@Program.HtmlClass.FormLabel @(Program.HtmlClass.ColMd)2">Required Date: </label>
            <div class="@Program.HtmlClass.FormDivInput @(Program.HtmlClass.ColMd)5">
                <input id="RequiredDate" name="RequiredDate" type="date" class="@Program.HtmlClass.FormInput" value="@ToDateString(_order.RequiredDate)" @onchange="ChangeRequiredDate" />
            </div>
        </div>

        <div class="@(Program.HtmlClass.FormGroupRow)">
            <label for="ShippedDate" class="@Program.HtmlClass.FormLabel @(Program.HtmlClass.ColMd)2">Shipped Date: </label>
            <div class="@Program.HtmlClass.FormDivInput @(Program.HtmlClass.ColMd)5">
                <input id="ShippedDate" name="ShippedDate" type="date" class="@Program.HtmlClass.FormInput" value="@ToDateString(_order.ShippedDate)" @onchange="ChangeShippedDate" />
            </div>
        </div>

        <div class="@(Program.HtmlClass.FormGroupRow)">
            <label for="ShipName" class="@Program.HtmlClass.FormLabel @(Program.HtmlClass.ColMd)2">Ship Name: </label>
            <div class="@Program.HtmlClass.FormDivInput @(Program.HtmlClass.ColMd)5">
                <input id="ShipName" name="ShipName" class="@Program.HtmlClass.FormInput" @bind="_order.ShipName" />
            </div>
        </div>

        <div class="@(Program.HtmlClass.FormGroupRow)">
            <label for="ShipAddress" class="@Program.HtmlClass.FormLabel @(Program.HtmlClass.ColMd)2">Ship Address: </label>
            <div class="@Program.HtmlClass.FormDivInput @(Program.HtmlClass.ColMd)5">
                <input id="ShipAddress" name="ShipAddress" class="@Program.HtmlClass.FormInput" @bind="_order.ShipAddress" />
            </div>
        </div>

        <div class="@(Program.HtmlClass.FormGroupRow)">
            <label for="ShipCity" class="@Program.HtmlClass.FormLabel @(Program.HtmlClass.ColMd)2">Ship City: </label>
            <div class="@Program.HtmlClass.FormDivInput @(Program.HtmlClass.ColMd)5">
                <input id="ShipCity" name="ShipCity" class="@Program.HtmlClass.FormInput" @bind="_order.ShipCity" />
            </div>
        </div>

        <div class="@(Program.HtmlClass.FormGroupRow)">
            <label for="ShipPostalCode" class="@Program.HtmlClass.FormLabel @(Program.HtmlClass.ColMd)2">Ship Postal Code: </label>
            <div class="@Program.HtmlClass.FormDivInput @(Program.HtmlClass.ColMd)5">
                <input id="ShipPostalCode" name="ShipPostalCode" class="@Program.HtmlClass.FormInput" @bind="_order.ShipPostalCode" />
            </div>
        </div>

        <div class="@(Program.HtmlClass.FormGroupRow)">
            <label for="ShipRegion" class="@Program.HtmlClass.FormLabel @(Program.HtmlClass.ColMd)2">Ship Region: </label>
            <div class="@Program.HtmlClass.FormDivInput @Program.HtmlClass.FormDivInput @(Program.HtmlClass.ColMd)5">
                <input id="ShipRegion" name="ShipRegion" class="@Program.HtmlClass.FormInput" @bind="_order.ShipRegion" />
            </div>
        </div>

        <div class="@(Program.HtmlClass.FormGroupRow)">
            <label for="ShipCountry" class="@Program.HtmlClass.FormLabel @(Program.HtmlClass.ColMd)2">Ship Country: </label>
            <div class="@Program.HtmlClass.FormDivInput @(Program.HtmlClass.ColMd)5">
                <input id="ShipCountry" name="ShipCountry" class="@Program.HtmlClass.FormInput" @bind="_order.ShipCountry" />
            </div>
        </div>

        <div class="@(Program.HtmlClass.FormGroupRow)">
            <label for="Freight" class="@Program.HtmlClass.FormLabel @(Program.HtmlClass.ColMd)2">Freight: </label>
            <div class="@Program.HtmlClass.FormDivInput @(Program.HtmlClass.ColMd)5">
                <input id="Freight" name="Freight" class="@Program.HtmlClass.FormInput" @bind="_order.Freight" />
            </div>
        </div>

        <div class="@(Program.HtmlClass.FormGroupRow)">
            <div class="@(Program.HtmlClass.ColMd)5">
                <button type="submit" class="@Program.HtmlClass.ButtonPrimary" @onclick="UpdateOrder">Save</button>
                <button type="button" class="@Program.HtmlClass.ButtonPrimary" @onclick="Back">Back</button>
            </div>
        </div>
    </div>
}

@code
{
    private string _error = "";
    private Order _order;

    [Parameter]
    public string OrderId { get; set; }

    [Parameter]
    public string ReturnUrl { get; set; }

    [Parameter]
    public string GridState { get; set; }

    [Parameter]
    public string AltGridState { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        _order = await Http.GetFromJsonAsync<Order>($"api/Order/{Convert.ToInt32(OrderId)}");
    }

    private async Task UpdateOrder()
    {
        _error = "";
        var response = await Http.PutAsJsonAsync($"api/Order/{Convert.ToInt32(OrderId)}", _order);
        if (!response.IsSuccessStatusCode)
        {
             _error = "Error updating the order detail";
        }
        else
        {
            NavigationManager.NavigateTo($"{ReturnUrl}/{GridState}/{AltGridState}");
        }
    }

    private void Back()
    {
        NavigationManager.NavigateTo($"{ReturnUrl}/{GridState}/{AltGridState}");
    }

    private void ChangeOrderDate(ChangeEventArgs e)
    {
        DateTime date;
        DateTime.TryParse(e.Value.ToString(), out date);
        if (date != default(DateTime))
            _order.OrderDate = date;
    }

    private void ChangeRequiredDate(ChangeEventArgs e)
    {
        DateTime date;
        DateTime.TryParse(e.Value.ToString(), out date);
        if (date != default(DateTime))
            _order.RequiredDate = date;
    }

    private void ChangeShippedDate(ChangeEventArgs e)
    {
        DateTime date;
        DateTime.TryParse(e.Value.ToString(), out date);
        if (date != default(DateTime))
            _order.ShippedDate = date;
    }

    private string ToDateString(DateTime? date)
    {
        if (date.HasValue)
        {
            return date.Value.ToString("yyyy'-'MM'-'dd");
        }
        else
        {
            return "";
        }
    }
}
