@using GridBlazorClientSide.Shared.Models
@implements IFormCrudComponent<Order>
@inject ICrudDataService<Employee> employeeService

<div class="@GridComponent.GridCrudHeaderCssClass">Employee</div>

@if (_employee == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <div class="@(Program.HtmlClass.FormGroupRow)">
            <label class="@Program.HtmlClass.FormLabel @(Program.HtmlClass.ColMd)2">EmployeeID</label>
            <div class="@Program.HtmlClass.FormDivInput @(Program.HtmlClass.ColMd)5">
                <input class="@Program.HtmlClass.FormInput" readonly disabled value="@_employee.EmployeeID" />
            </div>
        </div>

        <div class="@(Program.HtmlClass.FormGroupRow)">
            <label class="@Program.HtmlClass.FormLabel @(Program.HtmlClass.ColMd)2">First Name</label>
            <div class="@Program.HtmlClass.FormDivInput @(Program.HtmlClass.ColMd)5">
                <input class="@Program.HtmlClass.FormInput" readonly disabled value="@_employee.FirstName" />
            </div>
        </div>

        <div class="@(Program.HtmlClass.FormGroupRow)">
            <label class="@Program.HtmlClass.FormLabel @(Program.HtmlClass.ColMd)2">Last Name</label>
            <div class="@Program.HtmlClass.FormDivInput @(Program.HtmlClass.ColMd)5">
                <input class="@Program.HtmlClass.FormInput" readonly disabled value="@_employee.LastName" />
            </div>
        </div>

        <div class="@(Program.HtmlClass.FormGroupRow)">
            <label class="@Program.HtmlClass.FormLabel @(Program.HtmlClass.ColMd)2">Birth Date</label>
            <div class="@Program.HtmlClass.FormDivInput @(Program.HtmlClass.ColMd)5">
                <input class="@Program.HtmlClass.FormInput" readonly disabled value="@_employee.BirthDate" />
            </div>
        </div>

        <div style="display:flex;">
            <div>
                <button type="button" class="@Program.HtmlClass.ButtonPrimary" @onclick="() => BackButtonClicked()">Back</button>
            </div>
        </div>
    </div>
}

@code {
    private Employee _employee;

    [CascadingParameter(Name = "GridComponent")]
    protected GridComponent<Order> GridComponent { get; set; }

    [Parameter]
    public Order Item { get; set; }

    [Parameter]
    public GridMode ReturnMode { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (Item.EmployeeID.HasValue)
            _employee = await employeeService.Get(Item.EmployeeID.Value);
        else
            await BackButtonClicked();
    }

    protected async Task BackButtonClicked()
    {
        if (ReturnMode == GridMode.Create)
            await GridComponent.CreateHandler(Item);
        else if (ReturnMode == GridMode.Read)
            await GridComponent.ReadHandler(Item);
        else if (ReturnMode == GridMode.Update)
            await GridComponent.UpdateHandler(Item);
        else if (ReturnMode == GridMode.Delete)
            await GridComponent.DeleteHandler(Item);
        else
            await GridComponent.Back();
    }
}