@using GridBlazor.Resources
@using GridBlazorClientSide.Client.ColumnCollections
@using GridBlazorClientSide.Shared.Models
@using Microsoft.Extensions.Primitives
@using System.Globalization
@using System.Threading.Tasks
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject ICrudDataService<Employee> employeeService
@inject ICrudFileService<Employee> employeeFileService

<h3>Employees</h3>

@if (_task.IsCompleted)
{
    <div class="@Program.HtmlClass.Row">
        <div class="@(Program.HtmlClass.ColMd)12">
            <GridComponent T="Employee" Grid="@_grid"></GridComponent>
        </div>
    </div>

    <div class="@Program.HtmlClass.Row @Program.HtmlClass.Mt000">
        <div class="@(Program.HtmlClass.ColMd)5">
            <button type="button" class="@Program.HtmlClass.ButtonPrimary" @onclick="() => BackButtonClicked()">@Strings.Back</button>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code
{
    private CGrid<Employee> _grid;
    private Task _task;

    [CascadingParameter(Name = "GridComponent")]
    protected GridComponent<Order> GridComponent { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var locale = CultureInfo.CurrentCulture;

        var query = new QueryDictionary<StringValues>();

        string url = NavigationManager.BaseUri + "api/SampleData/GetEmployeesGrid";
        var client = new GridClient<Employee>(HttpClient, url, query, false, "employeesGrid", ColumnCollections.EmployeeColumns, locale)
            .Sortable()
            .Filterable()
            .SetStriped(true)
            .Crud(true, employeeService, employeeFileService)
            .WithMultipleFilters()
            .WithGridItemsCount();

        _grid = client.Grid;
        // Set new items to grid
        _task = client.UpdateGrid();
        await _task;
    }

    protected async Task BackButtonClicked()
    {
        await GridComponent.Back();
    }
}
