@page "/selectable"
@page "/selectable/{GridState}"
@using GridBlazorClientSide.Client.ColumnCollections
@using GridBlazorClientSide.Shared.Models
@using Microsoft.Extensions.Primitives
@using System.Globalization
@using System.Threading.Tasks
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<h1>Selectable Grid</h1>

<p>
    This page contains a grid where rows can be selected. When a row is selected, the order details are shown in a component on right column.
</p>

<p>
    This component demonstrates a GridBlazor client-side grid. For more information, please see: <a href="https://github.com/gustavnavar/Grid.Blazor">https://github.com/gustavnavar/Grid.Blazor</a>
</p>

@if (_task.IsCompleted)
{
    <div class="@Program.HtmlClass.Row">
        <div class="@(Program.HtmlClass.ColMd)9">
            <GridComponent @ref="_gridComponent" T="Order" Grid="@_grid" OnRowClicked="@OrderDetails"></GridComponent>
        </div>
        <div class="@(Program.HtmlClass.ColMd)3">
            <h4>
                Order details
            </h4>
            <OrderInfo @ref="_orderInfo" ReturnUrl="selectable" Grid="@_grid"></OrderInfo>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code
{
    private CGrid<Order> _grid;
    private GridComponent<Order> _gridComponent;
    private OrderInfo _orderInfo;
    private Task _task;

    [Parameter]
    public string GridState { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var locale = CultureInfo.CurrentCulture;
        var query = new QueryDictionary<StringValues>();
        if (!string.IsNullOrWhiteSpace(GridState))
        {
            try
            {
                query = StringExtensions.GetQuery(GridState);
            }
            catch (Exception)
            {
                // do nothing, GridState was not a valid state
            }
        }
        string url = NavigationManager.BaseUri + "api/SampleData/GetOrdersGrid";
        var client = new GridClient<Order>
            (HttpClient, url, query, false, "ordersGrid", ColumnCollections.OrderColumns, locale)
            .Sortable()
            .Filterable()
            .SetStriped(true)
            .Selectable(true)
            .WithMultipleFilters()
            .WithGridItemsCount();

        _grid = client.Grid;
        // Set new items to grid
        _task = client.UpdateGrid();
        await _task;
    }

    protected void OrderDetails(object item)
    {
        if (item.GetType() == typeof(Order))
        {
            _orderInfo.Order = (Order)item;
        }
        else
        {
            _orderInfo.Order = null;
        }
        _orderInfo.Refresh();

        _gridComponent.StartFormComponent<OrderDetailsComponent>("Order Details", null, null, _orderInfo.Order);
    }
}
